<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>분석</title>

	<!-- css -->
	<link rel="stylesheet" href="/templates/src/Views/Analyze/analyze.css">
	<link rel="stylesheet" href="/templates/src/Views/toggle.css">

	<!-- D3 -->
	<script src="https://d3js.org/d3.v7.min.js"></script>

	<!-- spreadsheetjs -->
	<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
	<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
	<script src="https://jsuites.net/v4/jsuites.js"></script>
	<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />

	<!-- fontawesome -->
	<script src="https://kit.fontawesome.com/4c4b76e7c2.js" crossorigin="anonymous"></script>

</head>
<body>
	<div class="containerDIV" id="containerDIV">	
		<div class="upperDIV">	
			<div class="title">
				<a href="/file-list/">전남대학교</br>융합 빅데이터 연구실</a>
			</div>
			<div class="logoutDIV">
				<a class="logoutBtn" id="logoutBtn">로그아웃</a>
			</div>
		</div>
		<div class="rowDIV">
			<div class="progressDIV">	
				<div class="nowProgressDIV">
					<div class="progress now">선택</div>
					<div class="progress">모델 설정 - 변수</div>
					<div class="progress">모델 설정 - 도구</div>
					<div class="progress">분석결과 및 저장</div>
				</div>
			</div>
			<div class="columnDIV">
				<div class="workDIV">
					
				</div>
			</div>
		</div>
	</div>

</body>
</html>

<script type="module" src="/templates/src/Views/Analyze/analyze.mjs"></script>
<script src="/templates/src/CDN/billboard.js"></script>
<script src="/templates/src/CDN/jquery-1.12.4.min.js"></script>
