<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>분석</title>

	<!-- css -->
	<link rel="stylesheet" href="/templates/src/Views/Analyze/analyze.css">
	<link rel="stylesheet" href="/templates/src/Views/toggle.css">

	<!-- fontawesome -->
	<script src="https://kit.fontawesome.com/4c4b76e7c2.js" crossorigin="anonymous"></script>

</head>
<body>
	<div class="containerDIV" id="containerDIV">	
		<div class="upperDIV">	
			<div class="title">
				<a href="/file-list/">전남대학교</br>융합 빅데이터 연구실</a>
			</div>
			<div class="logoutDIV">
				<a class="logoutBtn" id="logoutBtn">로그아웃</a>
			</div>
		</div>
		<div class="rowDIV">
			<div class="progressDIV">	
				<div class="nowProgressDIV">
					<div class="progress now">이름 미정</div>
					<div class="progress">방법 선택</div>
				</div>
			</div>
			<div class="columnDIV">
				<div class="fileSelectDIV">
					<select name="fileListSelectBox" id="fileListSelectBox" class="fileListSelectBox">
					</select>
				</div>
				<div class="workDIV">
					<div class="rowDIV center">
						<div class="moveDIV" id="">
							<p>분석 방법 생성</p>
							<button id="movePage">분석 창 이동</button>
						</div>
						<div class="uploadDIV" id="">
							<p>기존 방법 불러오기</p>
							<button id="fileUploadBtn">파일 불러오기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<dialog class="uploadDialog" id="uploadDialog">
		<div class="file">
			<div class="icon">
				<i class="fa-solid fa-cloud-arrow-up" id="fileIcon"></i>
				<span>파일을 업로드하세요</span>
			</div>
		</div>
		<div class="buttonDIV">
			<input type="file" name="fileUploadInput" id="fileUploadInput" class="fileUploadInput" accept=".xls, .xlsx, .csv">
			<label for="fileUploadInput">선택</label>
			<input id="fileName" name="fileName" class="fileName" value="선택한 파일 이름" disabled="disabled">
			<button class="fileUpload" id="fileUpload">등록</button>
			<button class="closeUploadPopup" id="closeUploadPopup">취소</button>
		</div>
	</dialog>
</body>
</html>

<script type="module" src="/templates/src/Views/Analyze/analyze.mjs"></script>
<script src="/templates/src/CDN/billboard.js"></script>
<script src="/templates/src/CDN/jquery-1.12.4.min.js"></script>
