*:not(dialog) {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-y: auto;
}

a{
	color: #007A33;
	text-decoration: none;
}

li, ul{
	list-style: none;
}

.containerDIV {
	margin: 0 auto;

	display: grid;
	width: 1280px;
	height: 100%;
}

.upperDIV {
	width: 1280px;
	height: 100px;
	position: relative;

	border-bottom: 1px solid #000;
}

.upperDIV .title {
	width: 200px;
	height: 50px;
	margin-top: 25px;
	margin-left: 20px;

	color: #007A33;
	font-size: 18px;
	font-weight: bold;
}

.upperDIV .logoutDIV {
	position: absolute;
	top: calc((100px - 28px)/2);
	right: 25px;

	display: inline-block;
	text-align: center;
}

.upperDIV .logoutDIV .logoutBtn {
	position: relative;
	padding: 4px 12px;
	border: 1px solid rgba(0, 0, 0, 0.21);
	border-bottom: 4px solid rgba(0, 0, 0, 0.21);
	border-radius: 4px;
	background: #72B08E;

	display: inline-block;

	text-decoration: none;
	font-size: 14px;
	color: white;
}

.logoutBtn:active {
	background: #87a86f;
}

.workDIV{
	width: 1000px;
	margin: 0 auto;
}

.rowDIV{
	display: flex;
	flex-direction: row;
}

.progressDIV {
	width: 200px;
	height : calc(100vh - 100px);
	border: 1px solid #000;
}

.progressDIV .progress{
	padding: 8px 14px;
	font-size: 14px;
}

.now{
	background-color: #007A33;
	color: #fff;
}

.columnDIV {
	width: 1080px;
	margin-top: 20px;
}

button{
	border: 1px solid #007A33;
	border-radius: 10px;
	margin-right: 8px;
	padding: 5px 11px;
	background-color: #007A33;
	color: #fff;

	float: right;
}

button:hover{
	cursor: pointer;
}

.selectDIV{
	width: 650px;
	height: 200px;

	margin: 30px auto;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.selectDIV .card{
	width: 250px;
	height: 200px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	text-align: center;

	border: 1px solid #000;
	border-radius: 20px;
}

.selectDIV .card>*{
	margin-bottom: 5px;
}

.selectDIV .title {
	font-weight: bold;
	margin-bottom: 10px;
}

.selectDIV .card button{
	margin-top: 10px;
}

.selectDIV button {
	font-size: 15px;
}

.variableDIV {
	text-align: center;
	margin-right: 30px;
}

.variableDIV .columnList,
.variableDIV .listDIV>* {
  width: 600px;
  height: 30px;
  line-height: 26px;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	text-align: center;
}

.variableDIV .listDIV{
	width: 600px;
	height: 270px;

	overflow-y: scroll;
}

.variableDIV .featureName{
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.variableDIV .featureType,
.variableDIV .featureImportance,
.variableDIV .switchDIV{
  width: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.switchLabel{
	overflow-y: hidden;
}

.timeDIV{
	width: 200px;
	margin-right: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;	
}

.fieldsetDIV{
	margin-right: 20px;
}

.tollDIV{
	display: flex;
	flex-direction: column;
}

fieldset {
	border: none;
	margin-bottom: 10px;
}

.buttonDIV {
	width: 1000px;
	margin : 20px auto;
}

.modelResultDIV {
	width: 300px;
	margin-left: 20px;
	border: 1px solid #000;

	display: none;
	flex-direction: column;
	text-align: center;
}

.resultDIV{
	height: 450px;
}

.resultDIV .modelResultDIV{
	display: flex;
}


.modelResultDIV > *{
	display: flex;
	flex-direction: row;

	border: 1px solid #999;
	text-align: center;

	height: 30px;
}

.resultTitle {
	width: 100px;
	font-weight: bold;
	font-size: 15px;
	border-right: 1px solid #000;
}

.resultText {
	width: 200px;
	font-size: 15px;
}

.spreadSheetDIV{
	margin-top: 20px;
}