<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>로그인</title>

  <!--  css  -->
  <link rel="stylesheet" href="/templates/src/Views/Login/login.css" />
</head>
<body>
  <div class="loginContainer">
    <div class="loginLogo">
      <a href="/">전남대학교</a><br/>
      융합 빅데이터 연구실
    </div>
    <div class="loginForm">
      <input type="text" id="email" class="email" placeholder="이메일" />
      <div id="EmailError" class="error"></div>
      <input type="password" id="password" class="password" placeholder="비밀번호"/>
      <div id="passwordError" class="error"></div>
      <div class="showPasswordDiv" id="showPasswordDiv">
        <input type="checkbox" id="showPassword">
        <span id="showPasswordText">비밀번호 보기</span>
      </div>
      <button  id="loginButton" class="loginButton" type="submit" disabled>
        로그인
      </button>
    </div>

    <div class="else">
      <a href="/users/sign-up/" class="register">회원가입</a>
    </div>
  </div>
</body>

<script src="/templates/src/CDN/jquery-1.12.4.min.js"></script>
<script type="module" src="/templates/src/Views/Login/login.mjs"></script>

</html>
