<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    </head>    
    <body>
        <table id=content bordercolor='blue' width='500' height='300' text-align='center'></table>
        <form action="{% url 'smartfarm:main' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" id="'filetitle" name="filetitle">
            <input type='file' id='uploadedFile' name='uploadedFile'>
            <input type="submit" class="submit" id="file_button" name="file_button">
        </form>
        <script>
            var JsonFile = JSON.parse("{{ result_json|escapejs }}");
            function making_table(File){
                var col_name = File.schema.fields;
                var fields = File.data;
                var html=[],h=-1;
                const element =document.getElementById('content');
                for (var i=0;i<col_name.length;i++){
                    if (i==0){html[++h]='<tr><td>'}
                    html[++h]=col_name[i].name;
                    html[++h]='</td><td>'
                    if(i==col_name.length-1){html[++h]='</td></tr>';break}
                }
                for (var j=0;j<fields.length;j++){
                    for (var i=0;i<col_name.length;i++){
                    if (i==0){html[++h]='<tr><td>'}
                    field_name = col_name[i].name;
                    html[++h]=fields[j][field_name];
                    html[++h]='</td><td>'
                    if(i==col_name.length-1){html[++h]='</td></tr>';break}
                    }
                }
                element.innerHTML = html.join('');
            }
            making_table(JsonFile)
        </script>
    </body>
</html>