<html>
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'analytics/ex.css' %}">
    <!-- fontawesome-->

    <script src="https://kit.fontawesome.com/4c4b76e7c2.js" crossorigin="anonymous"></script>
    <script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
    <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    </head>
    <body>
        <div class="side-bar">
            <div class="logo">
                <a href="#"><img src="../../logo.png" alt=""></a>
            </div>
            <div class="link">
                <ul>
                    <li>
                        <i class="fa-regular fa-folder"></i>
                        <span>파일</span>
                    </li>
                    <li>
                        <i class="fa-regular fa-folder"></i>
                        <span>처리</span>
                    </li>
                    <li>
                        <i class="fa-regular fa-folder"></i>
                        <span>분석</span>
                    </li>
                </ul>
            </div>
        </div>
    <div class="object" id = "object">
        <div style="display:block">
            <select style="display:flex" id="select_data">
                <option value=''>-- 선택 --</option>
                {% for file in files %}
                    <option>{{file.file_Title}}</option>
                {% endfor %}
            </select>
            <div><input type="button" value="불러오기" id="load"></div>
        </div>

        
        <div id="spreadsheet1"></div>  
        <input type="file" id="fileUploader" name="fileUploader" accept=".xls, .xlsx">

        <select name="data-select" id="data_select" onclick="Select()" multiple size="4"></select>

        <button id='download' onclick="down()">Export my spreadsheet as CSV</button>
    
        <details>
        <div class="main">
            <input type="radio" id="tab-1" name="show" checked />
            <input type="radio" id="tab-2" name="show" />
            <input type="radio" id="tab-3" name="show" />
            <input type="radio" id="tab-4" name="show" />
            <input type="radio" id="tab-5" name="show" />
            <div class="tab">
                <label for="tab-1">graph</label>
                <label for="tab-2">summary</label>
                <label for="tab-3">analytics</label>
                <label for="tab-4">deep learning</label>
                <label for="tab-5">preprocessing</label>
            </div>


            <div class="content">
                <div class="content-dis">
                    <button id="x-axis">x축</button>
                    <button id="add">y축</button>
                    <!-- <button id="draw">그리기</button> -->
                    <button id="delete">삭제</button>
                    <button id="clear">초기화</button>
                    <div id="grim" class="grim">
                        <canvas id="myChart" style="width : 500px; height : 300px; box-sizing: border-box;"></canvas>
                    </div>        
                </div>
                <div class="content-dis">
                    <div>
                        <div>
                            <span style="display:inline-block; width:50; overflow:hidden;white-space:nowrap;text-overflow:ellipsis">변수명</span>
                            <span id="cname"></span>
                        </div>
                        <div>
                            <span style="display:inline-block; width:50; overflow:hidden;white-space:nowrap;text-overflow:ellipsis">결측치 수</span>
                            <span id="null_list"></span>
                        </div>
                        <div>
                            <span style="display:inline-block; width:50; overflow:hidden;white-space:nowrap;text-overflow:ellipsis">행의 수</span>
                            <span id="nrow"></span>
                        </div>
                        <div>
                            <span style="display:inline-block; width:50; overflow:hidden;white-space:nowrap;text-overflow:ellipsis">type</span>
                            <span id="dtype"></span>
                        </div> 
                    </div>
                </div>

                <div class="content-dis">
                    <form action="{% url 'smartfarm:probing' %}" method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <select  id="x_value" name="x_value" multiple>
                        </select>
                        <select id="y_value" name="y_value" multiple>
                        </select>
                        <select id="prob" name="prob">
                            <option value="1">선형회귀분석</option>
                            <option value="2">단일표본t검정</option>
                            <option value="3">독립표본t검정</option>
                            <option value="4">대응표본t검정</option>
                            <option value="5">로지스틱회귀분석</option>
                        </select>
                        <input type="button" text="분석" id="lr_button" value="변수 불러오기">
                        <input type="submit">

                    </form>
                </div>   
                
                <div class="content-dis">
                    <form action="{% url 'smartfarm:probing' %}" method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <select  id="x_value" name="x_value" multiple>
                        </select>
                        <select id="y_value" name="y_value" multiple>
                        </select>
                        <select id="prob" name="prob">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3">독립표본t검정</option>
                            <option value="4">대응표본t검정</option>
                        </select>
                    </form>
                </div>

                <div class="content-dis">

                    <input id="address" name="address" type="text">
                    <input id="date" name="date" hint="날짜 열" type="number">
                    <select id="file_type" name="file_type">
                        <option value="환경">환경</option>
                        <option value="생육">생육</option>
                        <option value="생산량">생산량</option>
                    </select>

                    <select id="DorW" name="DorW">
                        <option value="week">주간</option>
                        <option value="day">일간</option>
                    </select>
                    <input type="button" id="submit_farm" value="제출">

                </div>
            </div>
        </div>
        </details>
        <div>
            <label>무엇을(어떤열을)</label>
            <input type="text" list="list" id="numbers"/>
            <datalist id ="list">
                <option value="1">
                <option value="2">
                <option value="3">
                <option value="4">
                <option value="5">
                <option value="6">
            </datalist>
            <label>언제(조건)</label>
            <input type="text" list="list" id="numbers"/>
            <datalist id ="list">
                <option value="전체">
                <option value="1">
                <option value="2">
                <option value="3">
                <option value="4">
                <option value="5">
            </datalist>
            <label>어떻게(결과물)</label>
            <input type="text" list="list" id="numbers"/>
            <datalist id ="list">
                <option value="삭제">
                <option value="2">
                <option value="3">
                <option value="4">
                <option value="5">
                <option value="6">
            </datalist>
        </div>
        <div>
            <button onclick="merge()">합치기</button>
        </div>
    </div>    
            <!-- <ol class='example'>
                <li><a onclick="x.insertColumn()">Insert a new blank column at the end of the table</a></li>
                <li><a onclick="x.insertColumn(5, 0, 1, null);">Insert five new blank columns at the beginning of the table</a></li>
                <li><a onclick="x.insertColumn([ '0.99', '1.22', '3.11', '2.21' ]);">Insert a new column with pre-populated values at the end of the table</a></li>
                <li><a onclick="x.insertRow()">Insert a new blank row at the end of the table</a></li>
                <li><a onclick="x.insertRow([ 'Pears', 10, 0.59, '=B2*C2' ], 1);">Insert a new pre-populated row just after the second row</a></li>
                <li><a onclick="table1.insertRow(10);">Create ten rows at the end of the table</a></li>
                <li><a onclick="table1.deleteRow(0, 1);">Delete the first row</a></li>
                <li><a onclick="table1.deleteColumn();">Delete the last column</a></li>
                <li><a onclick="table1.moveRow(3, 0);">Move the forth row to the first position</a></li>
                <li><a onclick="table1.moveColumn(0, 2);">Move the first column to the third position</a></li>
            </ol> -->


    </body>


    <script src="{% static 'analytics/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'analytics/xlsx.full.min.js' %}"></script>
    <script src="{% static 'analytics/chart_draw.js' %}"></script>
    <script src="{% static 'analytics/excel.js' %}"></script>
    <!-- <script src="{% static 'analytics/page.js' %}"></script> -->
    
   
    <!--데이터 불러오기-->
    <script>
        var csrftoken = $('[name=csrfmiddlewaretoken]').val();
        var num = 0;
        function change_excel(array) {
            var reader = new FileReader();

                let arr=array;
                excel_col=[];
                for (let i = 0; i < Object.keys(arr[1]).length; i++) {
                    // select box 데이터 추가
                    data_select.innerHTML += "<Option value='select-column' id='select_column'>" + Object.keys(arr[0])[i] + "</option>";
                    // 엑셀 열 제목 추가 및 열 크기 지정
                    excel_col[i] = ({ title: Object.keys(arr[0])[i], width: '150px' }) // "저장시간":"202206071700" 에서 저장시간 부분
                }
                var spr_num='spreadsheet'+num;
                // excel 정보
                jspreadsheet(document.getElementById(spr_num), {
                    data: arr,
                    tableOverflow: true,
                    columns: excel_col,
                });

                reader.onerror = function(event) {
                        console.error("File could not be read! Code " + event.target.error.code);
                };    
            };
    

        $(function(){
            $('#load').click(function(){
            
            var name=select_data.value;
            $.ajax({
                url:'loaddata/',
                type:'post',
                dataType:'json',
                headers: {'X-CSRFToken': csrftoken},
                data:{filename:name},
                success:function(response){
                    if (response.data != null){
                        num=num+1;
                        obj = document.getElementById("object");
                        newSpread = document.createElement("div");
                        newSpread.setAttribute("id", "spreadsheet"+num);
                        
                        newInput = document.createElement("input");
                        newInput.setAttribute("id", "jsonObject"+num);
                        newInput.setAttribute("type","hidden");

                        obj.appendChild(newSpread);
                        obj.appendChild(newInput);
                        
                        var json_num="#jsonObject"+ num;
                        var json = $(json_num);
                        json.val(response.data);
                        var json_object = JSON.parse(response.data);
                        var json_summary = JSON.parse(response.summary);
                        change_excel(json_object);
                        
                        var null_list = document.getElementById('null_list');
                        for (var i=0; i<Object.values(json_summary['null_list']).length;i++){
                            null_list.innerHTML+="<span style='display:inline-block; width:100; overflow:hidden;white-space:nowrap;text-overflow:ellipsis'>"+json_summary['null_list'][i]+"</span>";
                        }   
                        var nrow = document.getElementById('nrow');
                        for (var i=0; i<Object.values(json_summary['nrow']).length;i++){
                            nrow.innerHTML+="<span style='display:inline-block; width:100; overflow:hidden;white-space:nowrap;text-overflow:ellipsis'>"+json_summary['nrow'][i]+"</span>";
                        }  
                        var dtype = document.getElementById('dtype');
                        for (var i=0; i<Object.values(json_summary['dtype']).length;i++){
                            dtype.innerHTML+="<span style='display:inline-block; width:100; overflow:hidden;white-space:nowrap;text-overflow:ellipsis'>"+json_summary['dtype'][i]+"</span>";
                        }  
                        var cname = document.getElementById('cname');
                        for (var i=0; i<Object.values(json_summary['cname']).length;i++){
                            cname.innerHTML+="<span style='display:inline-block; width:100; overflow:hidden;white-space:nowrap;text-overflow:ellipsis'>"+json_summary['cname'][i]+"</span>";
                        }  
                    }
                    else {                  
                }},
                error : function(xhr, error){
                    alert("에러입니다.");
                    console.error("error : " + error);
                }
            })
        })
        })

        $(function(){
            $('#submit_farm').click(function(){

            var file_type=$('#file_type').val();
            var address=$('#address').val();
            var date=$('#date').val();
            var DorW=$('#DorW').val();
            var data=$('#jsonObject1').val();
            
            $.ajax({
                url:'farm/',
                type:'post',
                dataType:'json',
                headers: {'X-CSRFToken': csrftoken},
                data:{file_type:file_type,
                    address:address,
                    date:date,
                    DorW:DorW,
                    data:data
                },
                success:function(response){
                    if (response.data != null){
                        num=num+1;
                        obj = document.getElementById("object");
                        newSpread = document.createElement("div");
                        newSpread.setAttribute("id", "spreadsheet"+num);
                        
                        newInput = document.createElement("input");
                        newInput.setAttribute("id", "jsonObject"+num);
                        newInput.setAttribute("type","hidden");

                        obj.appendChild(newSpread);
                        obj.appendChild(newInput);
                        
                        var json_num="#jsonObject"+ num;
                        var json = $(json_num);
                        json.val(response.data);
                        var json_object = JSON.parse(response.data);
                        change_excel(json_object);
                    }
                    else {                  
                }},
                error : function(xhr, error){
                    alert("에러입니다.");
                    console.error("error : " + error);
                }
            })
        })
        })
        // 분석에 사용할 열데이터 불러오기
        var getX= function(){
            var json_num="#jsonObject"+ num;
            var element1 = document.getElementById('x_value');//변수선택창 호출
            var a=document.getElementById(json_num).value;//html창의 json문자열의 value값을 가져옴. 문자열은 input hidden으로 숨겨둠
            a = JSON.parse(a);//문자열 형태라 인덱싱이 안돼서 json객체로 파싱. 이제 키값이나 인덱싱 가능
            for (var i=0; i<Object.keys(a[1]).length;i++){//1열의 key값을 불러옴. 데이터 특성상 1열의 key값이 마지막까지의 key값과 같음.
                element1.innerHTML+="<option value='"+Object.keys(a[1])[i]+"'>"+Object.keys(a[1])[i]+"</option>";
            }//html코드로 select에 옵션을 추가함.다른 형태면 이부분을 변경
            var element2 = document.getElementById('y_value');//아래까진 똑같음
            var a=document.getElementById('jsonObject').value;
            a = JSON.parse(a);
            for (var i=0; i<Object.keys(a[1]).length;i++){
                element2.innerHTML+="<option value='"+Object.keys(a[1])[i]+"'>"+Object.keys(a[1])[i]+"</option>";
            }
        }
        document.getElementById('lr_button').addEventListener("click",getX); 

        function merge(){
            let element=[];
            for(let i=0;i<num;i++){
                element[i] = document.getElementById('jsonObject'+i);
            }
            console.log(element);
            $.ajax({
                url:'farm/',
                type:'post',
                dataType:'json',
                headers: {'X-CSRFToken': csrftoken},
                data:{
                    data:JSON.stringify(element),
                    file_type:"합치기"
                },
                success:function(response){
                    num=num+1;
                    obj = document.getElementById("object");
                        newSpread = document.createElement("div");
                        newSpread.setAttribute("id", "spreadsheet"+num);
                        
                        newInput = document.createElement("input");
                        newInput.setAttribute("id", "jsonObject"+num);
                        newInput.setAttribute("type","hidden");

                        obj.appendChild(newSpread);
                        obj.appendChild(newInput);
                        
                        var json_num="#jsonObject"+ num;
                        var json = $(json_num);
                        json.val(response.data);

                    if (response.data != null){
                        var json_object = JSON.parse(response.data);
                        change_excel(json_object);
                    }
                    else {                  
                }},
                error : function(xhr, error){
                    alert("에러입니다.");
                    console.error("error : " + error);
                }
            })
        }
    </script>
</html>
