<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merge</title>

    <!-- spreadsheetjs -->
    <script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
    <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />


    <!-- css -->
    <link rel="stylesheet" href="/templates/merge/merge.css">
</head>

<body>
    <div class="header">
        <a href="/" class="title">전남대학교 </br>농업 빅데이터 연구실</a>
        {% if user_name != anonymous %}
            <li><a href="/users/logout/" class = 'login'>로그아웃</a></li>
        {% else %}
            <li><a href="/users/login/" class = 'login'>로그인</a></li>
        {% endif %}
    </div>

    <ul class="nav">
        <li class="nav-item"><a href="/">홈</a></li>
        <li class="nav-item"><a href="/data_list">파일 목록</a></li>
        <li class="nav-item"><a href="/revise">데이터 수정</a></li>
        <li class="nav-item"><a href="#">그래프 및 분석</a></li>
    </ul>

    <div class="excel">
        <div id="spreadsheet" class="spreadsheet">

        </div>
        <div id="spreadsheet2" class="spreadsheet">
        </div>
    </div>
    <div class="merge_container">
        <select name="excel_var" id="var1" class="data_var">
        </select>
        <select name="excel_var" id="var2" class="data_var">
        </select>
        <button class="merge_button" id="merge_button">병합하기</button>
        <button class="download" id="download" disabled>다운로드</button>
    </div>
    <div class="excel">
        <div id="spreadsheet3" class="spreadsheet_full">

        </div>
    </div>

    <!-- new data -->
    <div id="JsonValue" style="display: none;"></div>
</body>
<script type="module" src="/templates/merge/merge.js"></script>
<script src="/templates/JS/jquery-1.12.4.min.js"></script>
<script src="/templates/JS/xlsx.full.min.js"></script>

</html>