ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* scroll 디자인 */
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: #999;
}

/* nav */
.nav {
    width: 1280px;
    height: 70px;
    margin: 0 auto;
    margin-top: 10px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav .title {
    color: #007A33;
    font-size: 18px;
    font-weight: bold;
}

.nav .login {
    padding: 3px 15px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;

    background-color: #007A33;
    border-radius: 8px;
    color: #fff;
}

.nav .logout {
    padding: 3px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;

    background-color: #007A33;
    border-radius: 8px;
    color: #fff;
}

.nav .nav-item:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.nav .nav-item a:not(:first-child),
.nav .nav-item a:not(:last-child) {
    color: #888;
}

.nav .nav-item a:hover {
    color: #000;
}

.titleContainer{
    width: 1280px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.selectContainer{
    width: 1280px;
    height: 300px;
    margin: 0 auto;
    margin-top: 10px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.selectContainer .card{
    width: 13%;
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.selectContainer .card .cardTitle{
    font-size: 20px;
}

.selectContainer .card .cardSelect{
    border: 1px solid #000;
    border-radius: 10px;

    width: 100%;
    height: 70%;
}

.selectContainer .card select{
    width: 100%;
    font-size: 20px;
}

.text{
    font-size: 40px;
}

.resultContainer{
    width: 1280px;
    height: 300px;
    margin: 0 auto;
    margin-top: 10px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: blue;
}

/* scroll */
.spreadsheet::-webkit-scrollbar,
.spreadsheet_full::-webkit-scrollbar {
    height: 4px;
}