<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>병합</title>

    <!-- css -->
    <link rel="stylesheet" href="/templates/merge/merge.css">

    <!-- spreadsheetjs -->
    <script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
    <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />

</head>

<body>
    <ul class="nav">
        <li class="nav-item"><a href="/" class="title">전남대학교 </br>융합 빅데이터 연구실</a></li>
        <li class="nav-item"><a href="/fileList">데이터 수정</a></li>
        <li class="nav-item"><a href="/merge/">파일 병합</a></li>
        <li class="nav-item"><a href="/fileList_2">데이터 분석</a></li>
        {% if user_name != anonymous %}
        <li class="nav-item"><a href="/users/logout/" class='logout'>로그아웃</a></li>
        {% else %}
        <li class="nav-item"><a href="/users/login/" class='login'>로그인</a></li>
        {% endif %}
    </ul>

    {% csrf_token %}

    <div class="selectContainer">

        <div class="card">
            <p class="cardTitle">생육</p>
            <div class="cardSelect">

            </div>
            <select name="growthSelectBox" id="growthSelectBox" class="growthSelectBox">
                <option value="null"></option>
            </select>
            <select name="growthVariable" id="growthVariable" class="growthVariable"></select>
        </div>

        <p class="text">+</p>

        <div class="card">
            <p class="cardTitle">환경</p>
            <div class="cardSelect">

            </div>
            <select name="environmentSelectBox" id="environmentSelectBox" class="environmentSelectBox">
                <option value="null"></option>
            </select>
            <select name="environmentVariable" id="environmentVariable" class="environmentVariable"></select>
        </div>

        <p class="text">+</p>

        <div class="card">
            <p class="cardTitle">생산량</p>
            <div class="cardSelect">

            </div>
            <select name="outputSelectBox" id="outputSelectBox" class="outputSelectBox">
                <option value="null"></option>
            </select>
            <select name="outputVariable" id="outputVariable" class="outputVariable"></select>
        </div>

        <p class="text">=</p>

        <div class="card">
            <p class="cardTitle">결과 확인</p>
            <div class="cardSelect">
                <button class="merge" id="merge">병합</button>
            </div>
            <input type="text" name="mergeFileName" class="mergeFileName" id="mergeFileName" placeholder="파일 이름을 정해주세요.">
        </div>

    </div>


    <div class="resultContainer">


    </div>

    <!-- new data -->
    <div id="JsonValue" style="display: none;"></div>


</body>
<script type="module" src="/templates/merge/merge.js"></script>
<script src="/templates/JS/jquery-1.12.4.min.js"></script>
<script src="/templates/JS/xlsx.full.min.js"></script>

</html>