<html>
    {% load static %}
    <head>
        <script src="{% static 'analytics/jquery-1.12.4.min.js' %}"></script>
    </head>
    <body>
        <div>
            <div>
                <p>내 파일</p>
            </div>
            <div>
                <table  style="border:1px">
                    {% for i in file%}
                    <tr style="border:1px">
                        <td style="margin:10 10 10 10; border:1px">{{i.file_Title}}</td>
                        <td style="margin:10 10 10 10; border:1px">{{i.file_type}}</td>
                        <td style="margin:10 10 10 10; border:1px">{{i.created_at}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div>
            <form method="POST" action="{% url 'smartfarm:uploading' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" id="file" name="file">
                <input type="text" id="f_type" name="f_type" value="기본">
                <button type="submit">
            </form>
        </div>
            <div>
                <input type="button" value="편집" onclick="edit">
                <div style="display:none" id="edit_view">
                    <input type="submit" value="삭제">
                    <input type="submit" value="완료">
                    <input type="submit" value="취소">
                </div>
            </div>
        </div>
    </body>
</html>


<script>
    $(document).ready(function(){
        function edit(){
            view=document.getElementById('edit_view')
            view.display="flex"
        }
    })
</script>