<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>

  <link rel="stylesheet" href="/templates/Css/register.css">
</head>

<body>
  <div class="header">
    <a href="/" class="title">전남대학교 </br>융합 빅데이터 연구실</a>
  </div>
  <div class="registerContainer">
    <div class="registerLogo">
      <h1>회원가입</h1>
    </div>
    <form method="POST" class="registerForm" id="registerForm" onsubmit="return false;">
      {% csrf_token %}
      <div class="email">
        <input type="text" class="formText registerID" id="registerID" name="registerID" placeholder="이메일">
        <button id="checkEmail" class="checkEmail">중복확인</button>
        <div id="emailError" class="error"></div>
      </div>

      <div class="password">
        <input type="password" class="formText registerPassword" id="registerPassword" name="registerPassword" placeholder="비밀번호">
        <div id="passwordError" class="error"></div>
      </div>

      <div class="checkPassword">
        <input type="password" class="formText registerCheckPassword" id="registerCheckPassword" placeholder="비밀번호 확인">
        <div id="passwordCheckError" class="error"></div>
      </div>

      <div class="name">
        <input type="text" class="formText name" id="name" name="name" placeholder="이름">
        <div id="nameError" class="error"></div>
      </div>

      <div class="job">
        <input type="text" class="formText registerJob" id="registerJob" name="registerJob" placeholder="소속">
      </div>

      <div class="phone">
        <p>전화번호</p>
        <div class="phoneNumber">
          <input type="tel" class="phoneFront" id="phoneFront" name="phone" maxlength="3" pattern="[0-9]{3}" >
          <span>-</span>
          <input type="tel" class="phoneMiddle" id="phoneMiddle" name="phone" maxlength="4" pattern="[0-9]{4}">
          <span>-</span>
          <input type="tel" class="phoneLast" id="phoneLast" name="phone" maxlength="4" pattern="[0-9]{4}" >
          <button id="postCertificationNumber" class="postCertificationNumber">인증하기</button>
        </div>
      </div>

      <div class="checkCertificationNumberContainer">
        <p>인증번호</p>
        <div>
          <input type="text" placeholder="인증번호 입력">
          <button id="checkCertificationNumber" class="checkCertificationNumber">확인하기</button>
          <span class="timer" id="timer"></span>
        </div>
      </div>

      <div class="buttonContainer">
        <button class="registerButton" id="registerButton" type="submit" disabled >제출하기</button>
        <button class="backToLogin" id="backToLogin" type="button">취소</button>
      </div>
    </form>
  </div>
</body>
</html>

<script type="module" src="/templates/JS/register/register.js"></script>
<script src="/templates/JS/CDN/jquery-1.12.4.min.js"></script>
