<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전남대학교 농업 빅데이터 연구실</title>

    <!-- css -->
    <link rel="stylesheet" href="templates/main/main.css">
</head>

<body>
    <div class="header">
        <a href="/" class="title">전남대학교 </br>농업 빅데이터 연구실</a>
        {% if user_name != anonymous %}
        <a href="/users/logout/" class='logout'>로그아웃</a>
        {% else %}
        <a href="/users/login/" class='login'>로그인</a>
        {% endif %}
    </div>

    <ul class="nav">
        <li class="nav-item"><a href="/">홈</a></li>
        <li class="nav-item"><a href="/fileList">파일 목록</a></li>
        <li class="nav-item"><a href="/revise">데이터 수정</a></li>
        <li class="nav-item"><a href="#">그래프 및 분석</a></li>
    </ul>

    <div class="container">
        <p class="first">데이터 기반 농업 발전에 기여하는</p>
        <p class="second"><span>전남대학교 농업빅데이터</span> 연구실</p>
        <p class="third">Chonnam National University Agricultural Data Laboratory</p>
    </div>

    <div class="service">
        <div class="service-item">
            <div class="item-title">파일 목록</div>
            <div class="item-content">
                기존에 등록했던 파일과</br>
                신규 등록한 파일을</br>
                관리할 수 있습니다.
            </div>
            <button class="item-btn">
                <a href="/fileList">바로가기</a>
            </button>
        </div>

        <div class="service-item">
            <div class="item-title">그래프 및 분석</div>
            <div class="item-content">
                원하는 데이터의 그래프를</br>
                제작하고 시각화하고,</br>
                분석을 할 수 있습니다.
            </div>
            <button class="item-btn">
                <a href="#">바로가기</a>
            </button>
        </div>
    </div>

</body>
<script>
    // alert(`화면(모니터 해상도)의 너비 ${screen.width} \n
    // 모니터 화면의 작업 표시줄을 제외한 너비 ${screen.availWidth} \n
    // 화면(모니터 해상도)의 높이 ${screen.height} \n
    // 모니터 화면의 작업 표시줄을 제외한 높이 ${screen.availHeight }
    //     `)
</script>

</html>