<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전남대학교 농업 빅데이터 연구실</title>

    <!-- css -->
    <link rel="stylesheet" href="templates/main/main.css">
</head>

<body>
    <div class="header">
        <a href="/" class="title">전남대학교 </br>농업 빅데이터 연구실</a>
        {% if user_name != anonymous %}
            <li><a href="/users/logout/" class = 'login'>로그아웃</a></li>
        {% else %}
            <li><a href="/users/login/" class = 'login'>로그인</a></li>
        {% endif %}
    </div>

    <ul class="nav">
        <li class="nav-item"><a href="/">홈</a></li>
        <li class="nav-item"><a href="/revise">데이터 수정</a></li>
        <li class="nav-item"><a href="/merge">데이터 통합</a></li>
        <li class="nav-item"><a href="#">그래프 및 분석</a></li>
        <li class="nav-item"><a href="/data_list">마이페이지</a></li>
    </ul>

    <div class="container">
        <p class="first">데이터 기반 농업 발전에 기여하는</p>
        <p class="second"><span>전남대학교 농업빅데이터</span> 연구실</p>
        <p class="third">Chonnam National University Agricultural Data Laboratory</p>
    </div>

    <div class="service">
        <div class="service-item">
            <div class="item-title">My Data</div>
            <div class="item-content">
                기존에 등록했던 파일과</br>
                신규 등록한 파일을</br>
                관리할 수 있습니다.
            </div>
            <button class="item-btn">
                <a href="/data_list">바로가기</a>
            </button>
        </div>
        <div class="service-item">
            <div class="item-title">데이터 통합</div>
            <div class="item-content">
                원하는 데이터를 병합하고,</br>
                수정하여 농업데이터를</br>
                직접 관리할 수 있습니다.
            </div>
            <button class="item-btn">
                <a href="/merge">바로가기</a>
            </button>
        </div>
        <div class="service-item">
            <div class="item-title">그래프 및 분석</div>
            <div class="item-content">
                원하는 데이터의 그래프를</br>
                제작하고 시각화하고,</br>
                분석을 할 수 있습니다.
            </div>
            <button class="item-btn">
                <a href="#">바로가기</a>
            </button>
        </div>
    </div>

</body>

</html>