ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 1280px 보다 크면 */
@media (min-width: 1280px) {

    /* nav */
    .nav {
        width: 1280px;
        height: 70px;
        margin: 0 auto;
        margin-top: 10px;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav .title {
        color: #007A33;
        font-size: 18px;
        font-weight: bold;
    }

    .nav .login {
        padding: 3px 15px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;

        background-color: #007A33;
        border-radius: 8px;
        color: #fff;
    }

    .nav .logout {
        padding: 3px 10px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;

        background-color: #007A33;
        border-radius: 8px;
        color: #fff;
    }

    /* container */
    .imgContainer {
        background: url(./Main_IMG.jpg) no-repeat center center;
        background-size: cover;

        width: 100%;
        height: 250px;
        margin-top: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;
        font-weight: bold;
    }

    .imgContainer .firstLine {
        font-size: 20px;
    }

    .imgContainer span {
        color: #007A33;
        font-size: 40px;
    }

    .imgContainer .secondLine {
        font-size: 40px;
    }

    .imgContainer .thirdLine {
        font-size: 24px;
    }

    .imgContainer p {
        margin: 1px;
        color: #000;
    }

    /* serviceContainer */
    .serviceContainer {
        width: 100%;
        height: 350px;
        margin-top: 30px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .serviceContainer .service {
        width: 20%;
        height: 230px;
        border-radius: 20px;
        box-shadow: 0px 0px 9px 9px #e1e1e1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 15px;
        text-align: center;
    }

    .serviceContainer .service .serviceTitle {
        font-weight: bold;
    }

    .serviceContainer .service .serviceContent {
        margin: 10px 0;
    }

    .serviceContainer .service .serviceButton {
        width: 40%;
        height: 30px;

        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 3px 3px #e1e1e1;

        background-color: #007A33;
    }

    .serviceContainer .service .serviceButton:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
        font-size: 16px;
    }

    .serviceContainer .service .serviceButton a {
        color: #fff;
    }
}

/* ////////////////////////////////////////// */
/* 1280보다 작으면 */
@media (max-width:1280px) {
    /* nav */
    .nav {
        width: 1000px;
        height: 70px;
        margin: 0 auto;
        margin-top: 10px;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav .title {
        color: #007A33;
        font-size: 18px;
        font-weight: bold;
    }

    .nav .login {
        padding: 3px 15px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;

        background-color: #007A33;
        border-radius: 8px;
        color: #fff;
    }

    .nav .logout {
        padding: 3px 10px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;

        background-color: #007A33;
        border-radius: 8px;
        color: #fff;
    }

    /* container */
    .imgContainer {
        background: url(./Main_IMG.jpg) no-repeat center center;
        background-size: cover;

        width: 100%;
        height: 250px;
        margin-top: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;
        font-weight: bold;
    }

    .imgContainer .firstLine {
        font-size: 20px;
    }

    .imgContainer span {
        color: #007A33;
        font-size: 40px;
    }

    .imgContainer .secondLine {
        font-size: 40px;
    }

    .imgContainer .thirdLine {
        font-size: 24px;
    }

    .imgContainer p {
        margin: 1px;
        color: #000;
    }

    /* serviceContainer */
    .serviceContainer {
        width: 100%;
        height: 350px;
        margin-top: 30px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .serviceContainer .service {
        width: 20%;
        height: 230px;
        border-radius: 20px;
        box-shadow: 0px 0px 9px 9px #e1e1e1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 15px;
        text-align: center;
    }

    .serviceContainer .service .serviceTitle {
        font-weight: bold;
    }

    .serviceContainer .service .serviceContent {
        margin: 10px 0;
    }

    .serviceContainer .service .serviceButton {
        width: 40%;
        height: 30px;

        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 3px 3px #e1e1e1;

        background-color: #007A33;
    }

    .serviceContainer .service .serviceButton:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
        font-size: 16px;
    }

    .serviceContainer .service .serviceButton a {
        color: #fff;
    }
}