<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>데이터 수정</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'show/show.css' %}">

    <!-- spreadsheetjs -->
    <script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
    <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
    <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</head>

<body>

    <div class="logo-box">
        <a href="{% url 'smartfarm:main' %}"><img src="{% static 'logo.png' %}" alt="logo" class="logo"></a>
    </div>

    <div class="shortCut">
      <a href="../data-manage/manage.html">관리</a>
      <a href="./show.html">수정</a>
      <a href="#">병합</a>
    </div>

    <div class="exp-box">
      <h3>데이터 수정</h3>
      <p>- 변수 선택을 통해 데이터를 수정하고 저장 할 수 있습니다.</p>
      <select name="manage_list_menu" id="manage_list_menu" class="manage_list_menu">
        <!-- <option value=''>-- 선택 --</option>
        {% for file in fileList %}
          <option>{{file.file_Title}}</option>
        {% endfor %} -->
      </select>
    </div>

    <div class="excel" id="excel">
        <div id="spreadsheet" class="spreadsheet">
        </div>
        <button id="excel_down">down-excel()</button>

    </div>

    <form method="post" id="form" onsubmit="return false;">
        {% csrf_token %}

    <!-- 데이터 처리 탭 -->
    <ul class="tabs">
        <li class="tab">
            <input type="radio" id="tab-1" name="tab-group-1">
            <label for="tab-1">사용 방법</label>

            <div class="content">
                <div class="caution">
                    <h3>* &nbsp; 탭을 통한 수정은 각각 이루어져야 합니다. &nbsp; *</h3>
                    <p>전처리를 한 후 반드시 저장을 하고 다음 과정을 진행해야 합니다.</p>
                </div>
                <div class="explain">
                    <div class="process_ex">
                        <h4>결측치 & 이상치 수정</h4>
                        <br>
                        <p>결측치 : 엑셀의 빈 값(NULL)을 평균값, 최빈값과 같은 값들로 처리합니다.</p>
                        <p>엑셀에서 비어있는 칸을 처리할 방법을 고르고 저장버튼을 클릭합니다.</p>
                        <br>
                        <p>이상치 : 데이터 분포에서 많이 벗어난 값들을 제거합니다.</p>
                        <p>변수를 선택하여 사용할 데이터의 범위를 지정해주고 저장버튼을 클릭합니다.</p>
                    </div>
                    <div class="process_ex">
                        <h4>데이터 값 수정</h4>
                        <br>
                        <p>1. 일간, 주간을 선택합니다. (4, 5일 단위의 데이터는 기타를 통해 입력합니다.)</p>
                        <p>2. 원하는 열의 이름(변수명)을 선택한 후, -> 버튼을 클릭하여 넘겨줍니다.</p>
                        <p>3. 저장버튼을 클릭합니다.</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="tab">
            <input type="radio" id="tab-2" name="tab-group-1">
            <label for="tab-2">결측치 & 이상치</label>
                    <!-- /* 엑셀 전처리 방법 */ -->
            <div class="content">
              <div class="list-container" id="list-container">
                <div class="list" id="list-header">
                    <div class="col_name" id="col_name">
                        열 번호
                    </div>
                    <div class="Null_count" id="Null_count">
                        빈셀 수
                    </div>
                    <div class="Q1" id="Q1">
                        1사분위 값
                    </div>
                    <div class="Q2" id="Q2">
                        중앙값
                    </div>
                    <div class="Q3" id="Q3">
                        3사분위값
                    </div>
                    <div class="mean" id="mean">
                        평균
                    </div>
                    <div class="min" id="min">
                        최소
                    </div>
                    <div class="max" id="max">
                        최대
                    </div>
                </div>
                <div class="list-body" id="list-body">
                  {% for key, values in summarys.items %}
                  <div class="list">
                      <div class="col_name">
                        <a href="#" class="draw_col" onclick="xxx(event)">{{key}}</a>
                      </div>
                      <div class="Null_count">
                        {{values.Null_count}}
                      </div>
                      <div class="Q1">
                        {{values.Q1}}
                      </div>
                      <div class="Q2">
                        {{values.Q2}}
                      </div>
                      <div class="Q3">
                        {{values.Q3}}
                      </div>
                      <div class="mean">
                        {{values.mean}}
                      </div>
                      <div class="min">
                        {{values.min}}
                      </div>
                      <div class="max">
                        {{values.max}}
                      </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              
              <div class="pre-out">
                  <div class="pretreatment">
                      <p>결측치</p>
                  </div>
                  <div class="outlier">
                      <p>이상치</p>
                  </div>
              </div>

          </div>

        </li>
        <li class="tab">
            <input type="radio" id="tab-3" name="tab-group-1" checked>
            <label for="tab-3">변수 값</label>
            <div class="flex content">
              <div>
                <select id="file_type" name="file_type">
                    <option value="환경">환경</option>
                    <option value="생육">생육</option>
                    <option value="생산량">생산량</option>
                </select>
              </div>
              <div class="date-box box-relative">
                  <div class="date center">
                      <label for="columnDate">날짜 열</label>
                      <input type="text" name="columnDate" id="columnDate" class="columnDate" placeholder="첫번째 열이 1열입니다.">

                      <label for="periods">주기선택</label>
                      <select name="periods" id="periods" class="periods" name="periods">
                          <option value="days">일간</option>
                          <option value="weeks">주간</option>
                          <option value="else">기타</option>
                      </select>
                      <input type="text" id="else_peri" class="else_peri" disabled>
                  </div>
              </div>

                        <!-- /* 엑셀 데이터 수정 및 저장 */ -->
        <div class="variables-box box-relative">
            <!-- 방법 선택 -->
            <div class="level-select">
              <!-- 쉬움 -->
              <input type="radio" id="easy" name="easy-hard" checked>
              <label for="easy">기본</label>
              <!-- 쉬움 -->
              <div class="variables easy center">
                <div class="select-wrapper">
                  <select name="excel_var" id="excel_var" class="excel_var" multiple size="5" style="display:none;">
  
                  </select>
                </div>
                <div class="select-wrapper">
                  <select name="default_select" id="default_select" class="default_select" multiple size="5">
                    <option value="InnerTemperature">내부온도</option>
                    <option value="OutsideTemperature">외부기온</option>
                    <option value="humidity">내부습도</option>
                    <option value="co2">내부co2</option>
                    <option value="insolation">일사량</option>
                    <option value="precipitation">강수량</option>
                  </select>
                </div>
              
                <div class="DeleteMove">
                  <button class="option_delete" id="option_delete"> <= </button>
                </div>
  
                <div class="select-final">
                  <select name="final_var" id="final_var" class="final_var" multiple size="5">
                  </select>
                </div>
  
              </div>
            </div>
  
            <div class="level-select">
              <!-- 어려움 -->
              <input type="radio" id="hard" name="easy-hard">
              <label for="hard">설정</label>
              <!-- 어려움 -->
              <div class="variables hard center">
                <div class="select-wrapper">
                  <select name="excel_var" id="excel_var" class="excel_var" multiple size="5" style="display:none;">
  
                  </select>
                </div>
                <div class="select-wrapper">
                  <select name="ex_var" id="ex_var" class="ex_var" multiple size="5">
                    <option value="temperature">온도</option>
                    <option value="humidity">습도</option>
                    <option value="co2">CO2</option>
                    <option value="insolation">일사량</option>
                    <option value="precipitation">강수량</option>
                  </select>
                </div>
                <div class="select-wrapper">
                  <select name="ex_var1" id="ex_var1" class="ex_var1" multiple size="5">
                    <!-- js를 통해 입력 -->
                  </select>
                </div>
                <div class="select-wrapper">
                  <select name="ex_var2" id="ex_var2" class="ex_var2" multiple size="5">
                    <option value="전체">전체</option>
                    <option value="주간_">주간</option>
                    <option value="야간_">야간</option>
                    <option value="일출부터정오_">일출부터정오</option>
                    <option value="일출전후t시간_">일출전후t시간</option>
                  </select>
                </div>
                <div class="select-wrapper">
                  <select name="ex_var3" id="ex_var3" class="ex_var3" multiple size="5">
                      <option value="평균_">평균</option>
                      <option value="최소_">최소</option>
                      <option value="최대_">최대</option>
                      <option value="누적_">누적</option>
                      <option value="DIF_">DIF</option>
                      <option value="GDD_">GDD</option>
                  </select>
                </div>
  
                <div class="DeleteMove">
                  <button class="option_delete" id="option_delete"> <= </button>
                  <button class="option_move" id="option_move"> => </button>
                </div>
  
                <div class="select-final">
                  <select name="final_var" id="final_var" class="final_var" multiple size="5">
                  </select>
                </div>
  
  
              </div>
            </div>
          </div>

          <div class="btn-box box-relative">
            <div class="center btn">
              <label for="fileName">파일 이름</label>
              <input type="text" name="fileName" id="fileName" class="fileName" placeholder="저장할 파일의 이름을 입력하세요">
                  <div class="inline-block">
                    <button id="submit_data">저장</button>
                    <button id="reset_data">초기화</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
                  <!-- tap4  -->
          <li class="tab">
            <input type="radio" id="tab-4" name="tab-group-1">
            <label for="tab-4">abms</label>

            <div class="content">
                
            </div>
        </li>
  </ul> 
  </form>
     <!-- 그래프 -->
     <!-- 그래프 -->
  <dialog style="width : 1000px; height : 700px; box-sizing: border-box;">
    <canvas id="myChart"style="width : 900px; height : 650px;">
    </canvas>
    <button class="close" id="close">닫기</button>
    <button class="point" id="point">point</button>
  </dialog>

    <div id="jsonObjects">
        <input id="jsonObject" type="hidden" value="{{data}}"></input>
    </div>
</body>
<!-- js -->
<script src="{% static 'jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'xlsx.full.min.js' %}"></script>
<script src="{% static 'show/show.js' %}"></script>

</html>