*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	/* overflow-y: hidden; */
}

a{
	color: #007A33;
	text-decoration: none;
}

li, ul{
	list-style: none;
}

.containerDIV {
	margin: 0 auto;

	display: grid;
	width: 1280px;
	height: 100%;
}

.upperDIV {
	width: 1280px;
	height: 100px;
	position: relative;

	border-bottom: 1px solid #000;
}

.upperDIV .title {
	width: 200px;
	height: 50px;
	margin-top: 25px;
	margin-left: 20px;

	color: #007A33;
	font-size: 18px;
	font-weight: bold;
}

.upperDIV .logoutDIV {
	position: absolute;
	top: calc((100px - 28px)/2);
	right: 25px;

	display: inline-block;
	text-align: center;
}

.upperDIV .logoutDIV .logoutBtn {
	position: relative;
	padding: 4px 12px;
	border: 1px solid rgba(0, 0, 0, 0.21);
	border-bottom: 4px solid rgba(0, 0, 0, 0.21);
	border-radius: 4px;
	background: #72B08E;

	display: inline-block;

	text-decoration: none;
	font-size: 14px;
	color: white;
}

.logoutBtn:active {
	background: #87a86f;
}

.rowDIV{
	display: flex;
	flex-direction: row;
}

.progressDIV {
	width: 200px;
	height : calc(100vh - 100px);
	border: 1px solid #000;
}

.progressDIV .progress{
	padding: 8px 14px;
	font-size: 14px;
}

.now{
	background-color: #007A33;
	color: #fff;
}

.fileSelectDIV {
  width: 1000px;
  margin: 0 auto;
  margin-top: 10px;

  display: flex;
  justify-content: right;
}

.columnDIV {
	width: 1080px;
}

.workDIV .spreadSheetDIV {
	width: 1000px;
	height: auto;
	margin : 20px 40px;

	border: 1px solid #000;
	overflow-x: auto;
  overflow-y: hidden;
}

.workDIV .settingDIV{
	width: 1000px;
	height: 100px;
	margin: 0 auto;

	border: 1px solid #000;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.settingDIV>*{
	width: 200px;
	height: 100px;
	text-align: center;
	border-right: 1px solid #000;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.settingDIV>*:last-child{
	border: none;
}

.workDIV .buttonDIV {
	width: 1000px;
	margin : 20px auto;
}

button{
	border: 1px solid #007A33;
	border-radius: 10px;
	margin-right: 8px;
	padding: 5px 11px;
	background-color: #007A33;
	color: #fff;

	float: right;
}

button:hover{
	cursor: pointer;
}

/* 2 page */
.fileStaticDataDIV {
	width: 1000px;
  padding: 3px 0;
  margin: 10px auto;
  text-align: center;

  border: 1px solid #000;
}

.fileStaticDataDIV .titleListDIV,
.fileStaticDataDIV .columnList {
  width: 1000px;
  height: 30px;
  line-height: 26px;

  display: -webkit-inline-box;

  text-align: center;
}

.fileStaticDataDIV .titleListDIV {
	width: 100%;
	border-bottom: 1px solid #999;
  margin-bottom: 5px;
}

.fileStaticDataDIV .listDIV{
	width: 1000px;
	height: 270px;

	overflow-y: scroll;
}

.fileStaticDataDIV .columnName {
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fileStaticDataDIV .nullCount,
.fileStaticDataDIV .Q1,
.fileStaticDataDIV .Q2,
.fileStaticDataDIV .mean,
.fileStaticDataDIV .Q3,
.fileStaticDataDIV .min,
.fileStaticDataDIV .max {
  width: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fileStaticDataDIV .listDIV .columnList{
  font-size: 16px;
  margin-top: 3px;
}

.fileStaticDataDIV .listDIV .columnList>*:not(:last-child){
	border-right: 1px solid #888;
}

.fileStaticDataDIV .listDIV .columnList .columnName:hover {
  color: blue;
}

.graphDIV {
	display: none;

	width: 480px;
	height: 300px;
	margin-top: 10px;
	margin-left: 10px;
  
	border: 1px solid #000;
}

.graphDIV .buttonContainer {
  display: none;
  flex-direction: row;
  justify-content: space-between;

  width: 30%;
  margin-left: 35%;
}

.graphDIV .buttonContainer i {
  font-size: 30px;
}

.radioDIV>*{
	margin-right: 5px;
}

/* 난이도 선택 */
.reviseDIV {
  width: 1000px;
	margin: 0 auto;

	display: grid;
	grid-template-columns : repeat(6, 1fr);
	grid-template-areas:
			"라디오 라디오 라디오 라디오 라디오 저장 저장"
			"설정 설정 설정 설정 확인 저장 저장"
			"설정 설정 설정 설정 확인 저장 저장"
	;
}

input[name="level"] {
  display: none;
}

.levelSelectDIV{
	margin-bottom: 10px;

	grid-area: 라디오;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.box {
	grid-area: 설정;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

label:hover {
  border-bottom: 2px solid #000;
}

input[name="level"]:checked+label {
  border-bottom: 2px solid #007A33;
  cursor: default;
}

input[name="level"]:checked+label+.box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.easyVersion select {
  width: 200px;
}

.hardVersion select {
  width: 130px
}

.totalVariableDIV{
	grid-area: 확인;

  display: flex;
  justify-content: start;
  align-items: center;
}

.totalVariableDIV select{
  width: 95%;
}

/* 파일 저장 */
.fileSaveDIV {
	grid-area: 저장;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.fileSaveDIV>*:not(:nth-child(2)) {
  margin-top: 30px;
}

.optionADD,
.optionDelete {
	font-size: 14px;
	text-align: center;
}