<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>메인 화면</title>

	<link rel="stylesheet" href="/templates/src/Views/Main/main.css">
</head>
<body>
	<button id="login">
		<a href="/users/sign-in/">로그인</a>
	</button>
	<button id="register">
		<a href="/users/sign-up/">회원가입</a>
	</button>
	<button id="fileList">
		<a href="/file-list/">파일 목록</a>
	</button>
</body>
</html>

<!-- 
<ul class="nav">
	<li><a href="/" class="title">전남대학교</br>융합 빅데이터 연구실</a></li>
	<li><a href="/file-list">데이터 수정</a></li>
	<li><a href="/merge/">파일 병합</a></li>
	<li><a href="/fileList_2">데이터 분석</a></li>
	{% if user_name != anonymous %}
	<li><a href="/users/logout/" class='logout' id="logout">로그아웃</a></li>
	{% else %}
	<li><a href="/users/login/" class='login' id="login">로그인</a></li>
	{% endif %}
</ul> 
-->
