<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>메인 화면</title>

	<link rel="stylesheet" href="/templates/src/Views/Main/main.css">
</head>
<body>
	<button id="login">
		로그인
		<!-- <a href="/users/sign-in/">로그인</a> -->
	</button>
	<button id="register">
		<a href="/users/sign-up/">회원가입</a>
	</button>
	<button id="fileList">
		파일 목록
		<!-- <a href="/file-list/">파일 목록</a> -->
	</button>
</body>
</html>
<script src="/templates/src/CDN/jquery-1.12.4.min.js"></script>
<script type="module" src="/templates/src/Views/Main/main.mjs"></script>