/* 기본 설정 값 */
ul,
li {
    list-style: none;
}

*:not(dialog){
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

/* scroll 디자인 */
*::-webkit-scrollbar{
    width : 3px;
}
*::-webkit-scrollbar-thumb{
    background-color: #999;
}


/* 로고 */
.logo-box {
    width: 100%;
    height: 70px;
    font-size: 0px;
    border-bottom: 1px solid #999;
}

/* 설명 박스 */
.exp-box {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 30px;
}

.exp-box p {
    font-size: 15px;
    padding-top: 5px;
    padding-left: 10px;
}

/* excel */
.excel {
    width: 90%;
    height: 350px;

    margin: 10px auto;
    /*가운데 정렬*/
    display: flex;
}

.excel .spreadsheet {
    border: 1px solid #000;

    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

/* radio 탭 */
.tabs {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.tab {
    float: left;
    padding: 10px 0;
}

.tab label {
    /* 탭 헤더 */
    position: relative;
    background: #eee;
    padding: 8px 20px;
    border: 1px solid #ccc;
}

.tab label:hover {
    cursor: pointer;
}

.tab [type="radio"] {
    display: none;
}

.tab .content {
    /* 탭 컨텐츠 */
    display: none;
    position: absolute;
    background: white;
    top: 39px;
    /*탭 헤더 아래쪽으로 위치 이동 */
    left: 0;
    right: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;

    height: 300px;
    text-align: center;

    overflow-y: auto;
}

.tab [type="radio"]:checked~label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
    /* 선택한 탭 헤더를 앞으로 옮겨 컨텐츠 테두리 선에 가려지지 않도록 처리 */
}

.tab [type="radio"]:checked+label+.content {
    z-index: 1;
    display: block;
}


/* 사용 방법 tap1 */
.tab .content .caution {
    padding-top: 10px;
    height: 60px;
    color: red;
}

.tab .content .explain {
    width: 100%;
    height: 70%;

    display: inline-flex;
}

.explain .process_ex {
    width: 50%;
    height: 100%;
}

.explain .process_ex h4 {
    padding-top: 5px;
}

.explain .process_ex:first-of-type {
    border-right: 1px #000 dotted;
}

/* 엑셀 전처리 방법 tap2 */

/* list , 결측치 및 이상치 값 확인*/
.content .list-container, 
.content .pre-out{
    width: 96%;
    height: 280px;
    padding : 3px 0;
    margin : 10px auto;
    text-align: center;

    border: 1px solid #000;

    overflow-y: scroll;
}

.content .list-container .list {
    display: inline-flex;
    width: 100%;
    height: 30px;
    line-height: 26px;

    align-items: center;
}

.content .list-container .list:first-child{
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
}

.content .list-container .list>*:first-child{
    font-size: 20px;
}

.content .list-container .list>*{
    width : 12%;
    height: 26px;
}


.content .list-container .list:not(:first-child)>*{
    border-right: 1px solid #888;
    font-size: 16px;
    margin-top: 8px;
}

.content .list-container .list a:hover{
    color: blue;
}


.content .pre-out{
    display: inline-flex;
}

.content .pre-out>*{
    width: 50%;
    height: 100%;
    position: relative;
}

.content .pre-out p{
    font-size: 20px;
    position: absolute;
    top : 20px;
    left: 20px;
}

.content .pre-out .pretreatment{
    border-right: 1px dotted #999;
}


/* tap3 */
.tab [type="radio"]:checked+label+.flex {
    display: flex;
    width: 100%;
    height: 250px;
    align-items: center;

    overflow: hidden;
}

.flex .box-relative {
    position: relative;
    border-right: 1px solid #000;
}

.flex .box-relative .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
}

/* 엑셀 기준 열 지정 및 주기 선택 */
.flex .date-box {
    width: 20%;
    height: 100%;
}

.flex .box-relative .center label {
    border: none;
    font-size: 14px;
    background-color: #FFF;
}

.flex .date-box .date {
    height: 150px;
    width: 100%;

    flex-direction: column;
}

/* 엑셀 데이터 수정 및 저장 */

/*  */

/* 변수 선택 난이도 선택 */
.variables-box{
    width : 60%;
    height: 100%;
}

.level-select{
    display: inline-flex;
    margin-top: 5px;
    height: 30px;
}

.level-select label {
    /* 탭 헤더 */
    background: #eee;
    padding: 3px 10px;
    border: 1px solid #ccc;
}

.variables-box .level-select label:hover {
    cursor: pointer;
}

.variables-box .level-select [type="radio"] {
    display: none;
}

.variables-box .level-select .variables {
    /* 변수 선택 창 */
    display: none;

    box-sizing: border-box;
    border: 1px solid #ccc;

    height:calc(100% - 69px);
    width: 90%;

}

.variables-box .level-select .variables>*{
    margin-right: 8px;
}

.variables-box .level-select [type="radio"]:checked~label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
    /* 선택한 탭 헤더를 앞으로 옮겨 컨텐츠 테두리 선에 가려지지 않도록 처리 */
}

.variables-box .level-select [type="radio"]:checked+label+.variables {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

/* 엑셀 데이터 수정 및 저장 <select-box, button> */
.flex .variables-box .variables .select-wrapper{
    width : 20%;
}

.flex .variables-box .variables .select-final{
    width : 30%;
}

.flex .variables-box .variables select{
    width: 100%;
    height: 100px;
}


.flex .variables-box .variables .DeleteMove{
    display: inline-flex;
    text-align: center;

    width: 70px;
    height: 100px;
    justify-content: space-between;
}   
.flex .variables-box .variables .DeleteMove button{
    width: 30px;
    height: 20px;
    font-size: 14px;

    display: block;
    margin: auto;
}

/* 저장 버튼 */
.flex .btn-box {
    width: 10%;
    height: 100%;
}

.flex .btn-box .btn {
    flex-direction: column;

    width: 100%;
    height: 50%;
}

.flex .btn-box .btn input[type='text'] {
    width: 90%;
}

.flex .btn-box .btn.inline-block {
    display: inline-block;
}

.flex .btn-box .btn>* {
    margin-top: 5px;
}