<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>파일 목록</title>
	
	<!-- css -->
	<link rel="stylesheet" href="/templates/src/Views/Filelist/fileList.css">
	<link rel="stylesheet" href="/templates/src/Views/jsuties.css" type="text/css" />
	<link rel="stylesheet" href="/templates/src/Views/jsuties.css" type="text/css" />

	<!-- spreadsheetjs -->
	<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
	<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
	<script src="https://jsuites.net/v4/jsuites.js"></script>
	<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />

	<!-- fontawesome-->
	<script src="https://kit.fontawesome.com/4c4b76e7c2.js" crossorigin="anonymous"></script>

</head>
<body>
	<div class="containerDIV">	
		<div class="upperDIV">
			<div class="title">
				전남대학교</br>융합 빅데이터 연구실
			</div>
			<div class="logoutDIV">
				<a class="logoutBtn" id="logoutBtn">로그아웃</a>
			</div>
		</div>
		
		
		<div class="lowerDIV">
			<div class="explainDIV">
				<h3>파일 관리</h3>
				<p>파일 삭제, 파일 업로드, 파일 다운로드를 할 수 있고</p>
				<p>파일을 수정하기 위한 다른 창으로 넘어갈 수 있습니다.</p>
			</div>
			<li class="conditionSelectDIV">
				<div class="condition all"><p>전체</p></div>
				<div class="condition env"><p>환경</p></div>
				<div class="condition growth"><p>생육</p></div>
				<div class="condition output"><p>생산량</p></div>
				<div class="condition revised"><p>수정</p></div>
				<div class="condition merge"><p>병합</p></div>
			</li>
			<div class="fileManagerDIV">
				<div class="fileListDIV" id="fileListDIV">
					<div class="listHeader">
						<input type="checkbox" class="checkAll" id="checkAll">
						<div class="fileTitle" id="fileTitle">
							파일명
						</div>
						<div class="lastUpdateDate" id="lastUpdateDate">
							수정 날짜
						</div>
						<div class="fileMove" id="fileMove">
							작업 선택
						</div>
					</div>

					<div class="fileContainer" id="fileContainer">

					</div>
				</div>

				<div class="searchBox">
					<i class="fa-solid fa-magnifying-glass"></i>
					<input id="search" type="text" placeholder="입력">
	
					<button class="delete" id="delete">파일 삭제</button>
					<button class="download" id="download">파일 다운</button>
					<button class="upload" id="upload">파일 등록</button>
				</div>
			</div>

		</div>
	</div>
		<!-- 파일 등록 클릭 시 팝업 창 -->
	<dialog class="uploadDialog" id="uploadDialog">
		<div class="file">
			<input type="file" id="fileUploadDrag" class="fileUploadDrag" name="fileUploadDrag" accept=".xls, .xlsx, .csv">
			<div class="icon">
				<i class="fa-solid fa-cloud-arrow-up" id="fileIcon"></i>
				<span>파일을 드래그하세요</span>
			</div>
		</div>
		<div class="settingDIV">
			<div class="dateDIV">
				<span>날짜 열 이름</span>
				<select name="dateBox" id="dateBox" class="dateBox">
					<option value="null" selected></option>
				</select>
			</div>
			<div class="countDIV">
				<span>시작 행</span>
				<input type="number" name="startIndex" id="startIndex" class="startIndex" value="1">
			</div>
		</div>
		<div class="buttonDIV">
			<input type="file" name="fileUploadInput" id="fileUploadInput" class="fileUploadInput" accept=".csv">
			<label for="fileUploadInput">선택</label>
			<input id="fileName" name="fileName" class="fileName" value="선택한 파일 이름" disabled="disabled">
			<button class="fileUpload" id="fileUpload">등록</button>
			<button class="closeUploadPopup" id="closeUploadPopup">취소</button>
		</div>
	</dialog>
</body>

<script type="module" src="/templates/src/Views/Filelist/fileList.mjs"></script>
<script type="module" src="/templates/src/Views/Filelist/upload.mjs"></script>
<script src="/templates/src/CDN/jquery-1.12.4.min.js"></script>
<script src="/templates/src/CDN/xlsx.full.min.js"></script>

</html>