*:not(dialog) {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.containerDIV {
	width: 1280px;
	height: 100%;
	margin: 0 auto;
}

.upperDIV {
	height: 80px;
	position: relative;
}

.upperDIV .title {
	width: 200px;
	height: 50px;
	margin-top: 25px;
	margin-left: 20px;

	color: #007A33;
	font-size: 18px;
	font-weight: bold;
}

.upperDIV .logoutDIV {
	position: absolute;
	top: calc((100px - 28px)/2);
	right: 25px;

	display: inline-block;
	text-align: center;
}

.upperDIV .logoutDIV .logoutBtn {
	position: relative;
	padding: 4px 12px;
	border: 1px solid rgba(0, 0, 0, 0.21);
	border-bottom: 4px solid rgba(0, 0, 0, 0.21);
	border-radius: 4px;
	background: #72B08E;

	display: inline-block;

	text-decoration: none;
	font-size: 14px;
	color: white;
}

.logoutBtn:active {
	background: #87a86f;
}

.lowerDIV {
	width: 1000px;
	margin: 0 auto;
}

.lowerDIV .explainDIV {
	margin: 0 auto;
	margin-top: 15px;

	text-align: center;
}

.lowerDIV .explainDIV h3 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
}

.lowerDIV .explainDIV p {
	font-size: 15px;
	margin-bottom: 0;
	margin-top: 0;
}

.lowerDIV .conditionSelectDIV {
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.lowerDIV .conditionSelectDIV>* {
	width: 150px;
	border: 1px #000 solid;
	border-radius: 20px;

	font-size: 15px;
	text-align: center;
}

.lowerDIV .conditionSelectDIV:last-child {
	margin-left: 0px;
}

.lowerDIV .all {
	background-color: #007A33;
	color: #fff;
}

.lowerDIV .condition>p {
	padding: 10px 8px;
}

/* 파일 목록 관리 */
.fileManagerDIV {
	width: 1000px;
	height: 480px;
	margin: 0 auto;
	margin-top: 20px;

	display: flex;
	flex-direction: column;
}

.fileManagerDIV .fileListDIV {
	width: 1000px;
	height: 400px;
	border: 1px solid #000;
	border-radius: 10px;

	overflow-y: hidden;
}

.fileListDIV .listHeader {
	width: 95%;
	margin: 5px auto;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;

	text-align: center;
}

.fileListDIV .listHeader>*{
	margin-left: 10px;
}

.fileListDIV .listHeader {
	border-bottom: 1px solid #999;
}

.fileListDIV .listHeader .checkAll,
.fileListDIV .list .check {
	width: 16px;
	height: 16px;
}

.fileListDIV .listHeader .fileTitle,
.fileListDIV .list .fileTitle {
	width: 400px;
	height: 26px;
	line-height: 26px;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.fileListDIV .list .fileTitle {
	text-align: left;
	padding-left: 5px;
}

.fileListDIV .lastUpdateDate,
.list .lastUpdateDate{
	width: 150px;
	height: 26px;
	line-height: 26px;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.fileListDIV .fileMove{
	text-align: center;
	width: 360px;
}

.fileListDIV .fileContainer {
	width: 95%;
	height: 350px;
	margin: 5px auto;

	overflow-y: scroll;
}

.fileContainer .list {
	width: 100%;
	margin: 5px auto;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;

	text-align: center;
}

.fileContainer .list>* {
	border: 1px solid #000;
	font-size: 12px;
	margin-left: 10px;
}

.list .revise,
.list .analyze,
.list .ABMS,
.list .merge {
	width: 80px;
	height: 26px;
	line-height: 26px;
}

.list .revise:hover,
.list .analyze:hover,
.list .ABMS:hover,
.list .merge:hover {
	cursor: pointer;
} 

/* scroll */
.fileContainer::-webkit-scrollbar {
	width: 1px;
}

.fileContainer::-webkit-scrollbar-thumb {
	background-color: #999;
}

.searchBox {
	width: 1000px;
	margin-top: 10px;

	display: inline-block;
}

.searchBox input[type=text] {
	width: 180px;
	height: 20px;
	margin-left: 3px;
}

.searchBox button {
	border: 1px solid #007A33;
	margin-right: 5px;
	padding: 3px 8px;
	background-color: #007A33;
	color: #fff;

	float: right;
}

.searchBox button:hover {
	cursor: pointer;
}

.uploadDialog {
	width: 500px;
	height: 350px;
	border: 1px solid #000;
	border-radius: 20px;

	display: none;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	position: relative;
}

.file {
	width: 100%;
	height: 100%;
	border: 2px dashed #007A33;
	border-radius: 10px;

	overflow-x: hidden;
	overflow-y: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
}

.fileUploadDrag {
	width: 300%;
	height: 100%;
}

.file .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.file i {
	content: "f56f";
	font: var(--fa-font-solid);
	margin-bottom: 10px;

	font-size: 100px;
}

.file span {
	font-size: 18px;
}

.file p {
	font-size: 13px;
}

.settingDIV{
	height: 70px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.settingDIV>*{
	width: 200px;
	text-align: center;
}

.buttonDIV input[type="number"] {
	width: 100px;
}

.buttonDIV {
	margin-top: 13px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.buttonDIV input[type="file"] {
	display: none;
}

.buttonDIV label,
.fileUpload,
.closeUploadPopup {
	display: inline-block;
	padding: 3px 8px;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;

	margin-left: 10px;

	color: #fff;
	font-size: inherit;
	line-height: normal;
	background-color: #007A33;

	vertical-align: middle;

	cursor: pointer;
}

.buttonContainer .fileName {
	display: inline-block;
	padding: 3px 8px;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;

	vertical-align: middle;
	background-color: #f5f5f5;

	font-size: inherit;
	line-height: normal;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
