<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>파일 목록</title>
	
	<!-- css -->
	<link rel="stylesheet" href="/templates/src/Views/Filelist/fileList.css">
	<link rel="stylesheet" href="/templates/src/Views/jsuties.css" type="text/css" />

	<!-- spreadsheetjs -->
	<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
	<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />

	<!-- fontawesome-->
	<script src="https://kit.fontawesome.com/4c4b76e7c2.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">	
		<li class="upperContainer">
			<div class="title">
				전남대학교</br>융합 빅데이터 연구실
			</div>
			<div class="logoutContainer">
				<a class="logoutBtn" id="logoutBtn">로그아웃</a>
			</div>
		</li>
		
		<li class="textSelectContainer">
			<div class="fileNameCondition all"><p>전체</p></div>
			<div class="fileNameCondition env"><p>환경</p></div>
			<div class="fileNameCondition growth"><p>생육</p></div>
			<div class="fileNameCondition output"><p>생산량</p></div>
			<div class="fileNameCondition revise"><p>수정</p></div>
			<div class="fileNameCondition merge"><p>병합</p></div>
		</li>
		
		<li class="fileListContainer">
			<div class="explain">
				<h3>파일 관리</h3>
				<p>파일 삭제, 파일 업로드, 파일 다운로드를 할 수 있고</p>
				<p>파일을 수정하기 위한 다른 창으로 넘어갈 수 있습니다.</p>
			</div>
			<div class="Box">
				<div class="listContainer" id="listContainer">
					<div class="listTitle">
						<input type="checkbox" class="checkAll" id="checkAll">
						<div class="fileTitle" id="fileTitle">
							파일명
						</div>
						<div class="uploadDate" id="uploadDate">
							업로드 날짜
						</div>
						<div class="lastUpdateDate" id="lastUpdateDate">
							마지막 수정 날짜
						</div>
					</div>
					<div class="file-container">
						<!-- {% for file in files %}
						<div class="list">
							<input type="checkbox" class="check">
							<div class="fileTitle" id="AllTitle">
								<a onclick="moveRevisePage(event)">{{file.file_title}}</a>
							</div>
							<div class="uploadDate" id="uploadDate">
								{{file.created_at | date:'Y-m-d'}}
							</div>
							<div class="lastUpdateDate" id="lastUpdateDate">
								{{file.updated_at | date:'Y-m-d'}}
							</div>
						</div>
						{% endfor %} -->
						<div class="list">
							<input type="checkbox" class="check">
							<div class="fileTitle" id="AllTitle">
								<a href="#">예시_수정</a>
							</div>
							<div class="uploadDate" id="uploadDate">
								2024-01-01
							</div>
							<div class="lastUpdateDate" id="lastUpdateDate">
								2024-01-01
							</div>
						</div>

						<div class="list">
							<input type="checkbox" class="check">
							<div class="fileTitle" id="AllTitle">
								<a href="#">예시_병합</a>
							</div>
							<div class="uploadDate" id="uploadDate">
								2024-01-01
							</div>
							<div class="lastUpdateDate" id="lastUpdateDate">
								2024-01-01
							</div>
						</div>

						<div class="list">
							<input type="checkbox" class="check">
							<div class="fileTitle" id="AllTitle">
								<a href="#">예시_환경</a>
							</div>
							<div class="uploadDate" id="uploadDate">
								2024-01-01
							</div>
							<div class="lastUpdateDate" id="lastUpdateDate">
								2024-01-01
							</div>
						</div>

						<div class="list">
							<input type="checkbox" class="check">
							<div class="fileTitle" id="AllTitle">
								<a href="#">예시_생육</a>
							</div>
							<div class="uploadDate" id="uploadDate">
								2024-01-01
							</div>
							<div class="lastUpdateDate" id="lastUpdateDate">
								2024-01-01
							</div>
						</div>

						<div class="list">
							<input type="checkbox" class="check">
							<div class="fileTitle" id="AllTitle">
								<a href="#">예시_생산량</a>
							</div>
							<div class="uploadDate" id="uploadDate">
								2024-01-01
							</div>
							<div class="lastUpdateDate" id="lastUpdateDate">
								2024-01-01
							</div>
						</div>

						<div class="list">
							<input type="checkbox" class="check">
							<div class="fileTitle" id="AllTitle">
								<a href="#">예시_생육_생산량_병합</a>
							</div>
							<div class="uploadDate" id="uploadDate">
								2024-01-01
							</div>
							<div class="lastUpdateDate" id="lastUpdateDate">
								2024-01-01
							</div>
						</div>

						<div class="list">
							<input type="checkbox" class="check">
							<div class="fileTitle" id="AllTitle">
								<a href="#">예시_생육_환경_병합</a>
							</div>
							<div class="uploadDate" id="uploadDate">
								2024-01-01
							</div>
							<div class="lastUpdateDate" id="lastUpdateDate">
								2024-01-01
							</div>
						</div>

						<div class="list">
							<input type="checkbox" class="check">
							<div class="fileTitle" id="AllTitle">
								<a href="#">예시</a>
							</div>
							<div class="uploadDate" id="uploadDate">
								2024-01-01
							</div>
							<div class="lastUpdateDate" id="lastUpdateDate">
								2024-01-01
							</div>
						</div>
					</div>
				</div>

				<div class="searchBox">
					<i class="fa-solid fa-magnifying-glass"></i>
					<input id="search" type="text" placeholder="입력">
	
					<button class="delete" id="delete">파일 삭제</button>
					<button class="download" id="download">파일 다운</button>
					<button class="upload" id="upload">파일 등록</button>
				</div>
			</div>

		</li>

		<!-- 파일 등록 클릭 시 팝업 창 -->
	</div>
</body>

<script type="module" src="/templates/src/Views/Filelist/fileList.mjs"></script>
<script type="module" src="/templates/src/Views/Filelist/upload.mjs"></script>
<script src="/templates/src/CDN/jquery-1.12.4.min.js"></script>

</html>