ul,
li {
    list-style: none;
}

*:not(dialog){
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.logo-box {
    width: 100%;
    height: 70px;
    font-size: 0px;
    border-bottom: 1px solid #999;
}

.container {
    width: 800px;
    height: 350px;
    border: 3px solid red;
}

/* list */
.container .list-container {
    width: 680px;
    height: 280px;
    margin-top: 10px;
    margin-left: 100px;

    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;

    overflow-y: auto;
}

.container .list-container .list {
    display: inline-flex;
    width: 600px;
    height: 30px;
    line-height: 30px;

    align-items: center;

    border-bottom: 1px solid #000;
}

.container .list-container .list .check .container .list-container .list .check {
    width: 13px;
    height: 13px;

    margin-left: 2px;
    margin-right: 2px;
}

.container .list-container .list .number {
    width: 40px;
    height: 30px;

    margin-left: 8px;
    margin-right: 8px;
}

.container .list-container .list .title {
    width: 350px;
    height: 30px;

    margin-left: 8px;
    margin-right: 8px;

}

.container .list-container .list .date {
    width: 130px;
    height: 30px;

    margin-left: 8px;
    margin-right: 8px;
}

/* btn */
.container .btn-wrap {
    width: 680px;
    height: 50px;

    display: inline-flex;
    align-items: center;
    text-align: center;
}

.container .btn-wrap button {
    margin: 0 5px;
}

/* popup */
dialog{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border : 0;
    border-radius: 20px;

    text-align: center;
}

dialog .spreadsheet {
    overflow-x: auto;
    overflow-y: hidden;
    width: 400px;
    height: 250px;
    background-color: beige;
    position: relative;
}

dialog .file_input {
    width: 100%;
    height: 100%;
}

dialog .spreadsheet i {
    content: "f56f";
    font: var(--fa-font-solid);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 50px;
}

dialog input[type=text]{
    width: 200px;
}

dialog .btn-wrap {
    width: 130px;
    margin : 5px auto;
    display: flex;
    align-items :center;
    justify-content: space-between;
}