ul,li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

*:not(dialog){
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

/* 높이 : 864, 너비 : 1536 내 노트북, padding-top = height/width x 100 */
/* 높이 : 864, 너비 : 1028 작은 노트북 */

/* header */
.header{
    width: 95%;
    height: 70px;
    margin: 0 auto;
    margin-top: 10px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .title{
    color: #007A33;
    font-size: 18px;
    font-weight: bold;
}

.header .login{
    width: auto;
    height: auto;
    padding: 3px 15px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;

    background-color: #007A33;
    border-radius: 8px;
    color: #fff;
}

.header .logout{
    width: auto;
    height: auto;
    padding: 3px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;

    background-color: #007A33;
    border-radius: 8px;
    color: #fff;
}

/* nav */
.nav{
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav .nav-item:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.nav .nav-item a{
    color: #888;
}

.nav .nav-item a:hover{
    color: #000;
}

/* explain */
.explain {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
}

.explain h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.explain p {
    font-size: 15px;
}

/* search */
.search_box {
    width: 85%;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 3px;
    padding-left: 13px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.search_box input[type=text] {
    width: 180px;
    height: 20px;
    margin-left: 3px;
}

/* scroll */
.list-container::-webkit-scrollbar {
    width: 3px;
}

.list-container::-webkit-scrollbar-thumb {
    background-color: #999;
}

/* list-container */
.list-container {
    width: 85%;
    margin: 0 auto;
    padding: 3px 0;
    border: 1px solid #000;
}

.list-container .list_head{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 3px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.list-container .file-container{
    width: 95%;
    height: 300px;
    margin: 0 auto;


    overflow-y: scroll;
}

.list-container .file-container .list{
    width: 100%;
    margin-bottom: 3px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.list-container .list_head>*,
.list-container .list>* {
    margin: 0 10px;
}

.list-container .list_head {
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
}

.list-container .list>* {
    border: 1px solid #000;

    font-size: 12px;
}

.list-container .list_head .check-all,
.list-container .list .check {
    width: 16px;
    height: 16px;
}

.list-container .list_head .list_title,
.list-container .list .list_title {
    width: 70%;
    height: 26px;
    line-height: 26px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-container .list .list_title {
    text-align: left;
    padding-left: 5px;
}

.list-container .list_head .date,
.list-container .list_head .n_date,
.list-container .list .date,
.list-container .list .n_date{
    width: 13%;
    height: 26px;
    line-height: 26px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* btn-wrap */
.btn-wrap {
    width: 85%;
    margin: 10px auto;
}

.btn-wrap .delete{
    float: left;
}

.btn-wrap .upload,
.btn-wrap .merge{
    float: right;
}

.btn-wrap >*:not(:last-child){
    margin: 0;
}

.btn-wrap button{
    border: 1px solid #007A33;
    margin-right: 5px;
    padding: 3px 8px;
    background-color:#007A33;
    color: #fff;
}

.btn-wrap button:hover{
    cursor: pointer;
}

/* popup */
dialog{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border : 0;
    border-radius: 20px;

    text-align: center;
}

dialog .spreadsheet {
    position: relative;
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    margin-bottom: 5px;

    overflow-x: auto;
    overflow-y: hidden;
}

dialog .spreadsheet .file_drag {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

dialog .spreadsheet i {
    content: "f56f";
    font: var(--fa-font-solid);
    margin-bottom: 10px;

    font-size: 80px;
}

dialog .spreadsheet span{
    font-size: 20px;
    margin-bottom: 10px;
}

dialog .wrap {
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}

dialog .wrap input[type="file"] {
	display: none;
}

dialog .wrap label {
	display: inline-block;
	padding: .5em .75em;
    border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;

	color: #fff;
	font-size: inherit;
	line-height: normal;
	background-color: #007A33;

    vertical-align: middle;

	cursor: pointer;
}

dialog .wrap .upload-name {
    display: inline-block;
    padding: .5em .75em;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;

    vertical-align: middle;
    background-color: #f5f5f5;

    font-size: inherit;
    line-height: normal;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

dialog .btn-wrap {
    width: 130px;
    margin : 5px auto;
    display: flex;
    align-items :center;
    justify-content: space-between;
}