ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

/* 1280px 보다 크면 */
@media (min-width: 1280px) {

    /* nav */
    .nav {
        width: 1280px;
        height: 70px;
        margin: 0 auto;
        margin-top: 10px;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav .title {
        color: #007A33;
        font-size: 18px;
        font-weight: bold;
    }

    .nav .login {
        padding: 3px 15px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;

        background-color: #007A33;
        border-radius: 8px;
        color: #fff;
    }

    .nav .logout {
        padding: 3px 10px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;

        background-color: #007A33;
        border-radius: 8px;
        color: #fff;
    }

    .nav .nav-item:hover {
        transform: scale(1.2);
        transition-duration: 0.5s;
    }

    .nav .nav-item a:not(:first-child),
    .nav .nav-item a:not(:last-child) {
        color: #888;
    }

    .nav .nav-item a:hover {
        color: #000;
    }

    /* explain */
    .explain {
        width: 1280px;
        margin: 0 auto;
        margin-top: 15px;

        text-align: center;
    }

    .explain h3 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .explain p {
        font-size: 15px;
    }

    .container {
        width: 1280px;
        margin: 20px auto;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    /* upload */
    .container .upload {
        width: 400px;
        height: 480px;
        margin-left: 25px;
        margin-right: 30px;
    }

    .container .upload .excel {
        width: 400px;
        height: 400px;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        position: relative;
    }

    .container .excel .spreadsheet {
        width: 100%;
        height: 100%;
        border: 2px dashed #007A33;
        border-radius: 10px;

        overflow-x: hidden;
        overflow-y: hidden;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;
    }

    .spreadsheet .file_drag {
        width: 300%;
        height: 300%;

        /* visibility: hidden; */
    }

    .spreadsheet .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .spreadsheet i {
        content: "f56f";
        font: var(--fa-font-solid);
        margin-bottom: 10px;

        font-size: 100px;
    }

    .spreadsheet span {
        font-size: 18px;
    }

    .upload .wrap {
        margin-top: 10px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .upload .wrap input[type="file"] {
        display: none;
    }

    .upload .wrap label {
        display: inline-block;
        padding: 3px 8px;
        border: 1px solid #ebebeb;
        border-bottom-color: #e2e2e2;
        border-radius: .25em;

        color: #fff;
        font-size: inherit;
        line-height: normal;
        background-color: #007A33;

        vertical-align: middle;

        cursor: pointer;
    }

    .upload .wrap .upload-name {
        display: inline-block;
        padding: 3px 8px;
        border: 1px solid #ebebeb;
        border-bottom-color: #e2e2e2;
        border-radius: .25em;

        vertical-align: middle;
        background-color: #f5f5f5;

        font-size: inherit;
        line-height: normal;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .Box {
        width: 800px;
        height: 480px;

        display: flex;
        flex-direction: column;

    }

    /* fileList */
    .list-container {
        width: 800px;
        height: 400px;
        border: 1px solid #000;
        border-radius: 10px;

        overflow-y: hidden;
    }

    .list-container .list_head {
        width: 95%;
        margin: 5px auto;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .list-container .file-container {
        width: 95%;
        height: calc(400px - 27px);
        margin: 5px auto;

        overflow-y: auto;
    }

    .list-container .file-container .list {
        width: 100%;
        margin-bottom: 3px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .list-container .list_head>*,
    .list-container .list>* {
        margin: 0 10px;
    }

    .list-container .list_head {
        border-bottom: 1px solid #999;
    }

    .list-container .list>* {
        border: 1px solid #000;

        font-size: 12px;
    }

    .list-container .list_head .check-all,
    .list-container .list .check {
        width: 16px;
        height: 16px;
    }

    .list-container .list_head .list_title,
    .list-container .list .list_title {
        width: 500px;
        height: 26px;
        line-height: 26px;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .list-container .list .list_title {
        text-align: left;
        padding-left: 5px;
    }

    .list-container .list .list_title :hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .list-container .list_head .date,
    .list-container .list_head .n_date,
    .list-container .list .date,
    .list-container .list .n_date {
        width: 150px;
        height: 26px;
        line-height: 26px;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    /* scroll */
    .file-container::-webkit-scrollbar {
        width: 1px;
    }

    .file-container::-webkit-scrollbar-thumb {
        background-color: #999;
    }

    .search_box {
        width: 800px;
        margin-top: 10px;

        display: inline-block;
    }

    .search_box input[type=text] {
        width: 180px;
        height: 20px;
        margin-left: 3px;
    }

    .search_box .delete,
    .search_box .merge {
        float: right;
    }

    .search_box>*:not(:last-child) {
        margin: 0;
    }

    .search_box button {
        border: 1px solid #007A33;
        margin-right: 5px;
        padding: 3px 8px;
        background-color: #007A33;
        color: #fff;
    }

    .search_box button:hover {
        cursor: pointer;
    }
}

/* ////////////////////////////////////////// */
/* 1280보다 작으면 */
@media (max-width:1280px) {

    /* nav */
    .nav {
        width: 1000px;
        height: 70px;
        margin: 0 auto;
        margin-top: 10px;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav .title {
        color: #007A33;
        font-size: 18px;
        font-weight: bold;
    }

    .nav .login {
        padding: 3px 15px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;

        background-color: #007A33;
        border-radius: 8px;
        color: #fff;
    }

    .nav .logout {
        padding: 3px 10px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;

        background-color: #007A33;
        border-radius: 8px;
        color: #fff;
    }

    .nav .nav-item:hover {
        transform: scale(1.2);
        transition-duration: 0.5s;
    }

    .nav .nav-item a:not(:first-child),
    .nav .nav-item a:not(:last-child) {
        color: #888;
    }

    .nav .nav-item a:hover {
        color: #000;
    }

    /* explain */
    .explain {
        width: 1000px;
        margin: 0 auto;
        margin-top: 15px;

        text-align: center;
    }

    .explain h3 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .explain p {
        font-size: 15px;
    }

    .container {
        width: 1000px;
        margin: 20px auto;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    /* upload */
    .container .upload {
        width: 300px;
        height: 300px;
        margin-left: 15px;
        margin-right: 20px;
    }

    .container .upload .excel {
        width: 300px;
        height: 300px;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        position: relative;
    }

    .container .excel .spreadsheet {
        width: 100%;
        height: 100%;
        border: 2px dashed #007A33;
        border-radius: 10px;

        overflow-x: hidden;
        overflow-y: hidden;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;
    }

    .spreadsheet .file_drag {
        width: 300%;
        height: 300%;
    }

    .spreadsheet .icon{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .spreadsheet i {
        content: "f56f";
        font: var(--fa-font-solid);
        margin-bottom: 10px;

        font-size: 80px;
    }

    .spreadsheet span {
        font-size: 14px;
    }

    .upload .wrap {
        margin-top: 10px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .upload .wrap input[type="file"] {
        display: none;
    }

    .upload .wrap label {
        display: inline-block;
        padding: 3px 8px;
        border: 1px solid #ebebeb;
        border-bottom-color: #e2e2e2;
        border-radius: .25em;

        color: #fff;
        font-size: inherit;
        line-height: normal;
        background-color: #007A33;

        vertical-align: middle;

        cursor: pointer;

    }

    .upload .wrap .upload-name {
        display: inline-block;
        padding: 3px 8px;
        border: 1px solid #ebebeb;
        border-bottom-color: #e2e2e2;
        border-radius: .25em;

        vertical-align: middle;
        background-color: #f5f5f5;

        font-size: inherit;
        line-height: normal;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .Box {
        width: 650px;
        height: 380px;

        display: flex;
        flex-direction: column;

    }

    /* fileList */
    .list-container {
        width: 650px;
        height: 300px;
        border: 1px solid #000;
        border-radius: 10px;

        overflow-y: hidden;
    }

    .list-container .list_head {
        width: 95%;
        margin: 5px auto;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .list-container .file-container {
        width: 95%;
        height: calc(400px - 27px);
        margin: 5px auto;

        overflow-y: auto;
    }

    .list-container .file-container .list {
        width: 100%;
        margin-bottom: 3px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .list-container .list_head>*,
    .list-container .list>* {
        margin: 0 10px;
    }

    .list-container .list_head {
        border-bottom: 1px solid #999;
    }

    .list-container .list>* {
        border: 1px solid #000;

        font-size: 12px;
    }

    .list-container .list_head .check-all,
    .list-container .list .check {
        width: 16px;
        height: 16px;
    }

    .list-container .list_head .list_title,
    .list-container .list .list_title {
        width: 380px;
        height: 26px;
        line-height: 26px;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .list-container .list .list_title {
        text-align: left;
        padding-left: 5px;
    }

    .list-container .list .list_title :hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .list-container .list_head .date,
    .list-container .list_head .n_date,
    .list-container .list .date,
    .list-container .list .n_date {
        width: 100px;
        height: 26px;
        line-height: 26px;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    /* scroll */
    .file-container::-webkit-scrollbar {
        width: 1px;
    }

    .file-container::-webkit-scrollbar-thumb {
        background-color: #999;
    }

    .search_box {
        width: 650px;
        margin-top: 10px;

        display: inline-block;
    }

    .search_box input[type=text] {
        width: 180px;
        height: 20px;
        margin-left: 3px;
    }

    .search_box .delete,
    .search_box .merge {
        float: right;
    }

    .search_box>*:not(:last-child) {
        margin: 0;
    }

    .search_box button {
        border: 1px solid #007A33;
        margin-right: 5px;
        padding: 3px 8px;
        background-color: #007A33;
        color: #fff;
    }

    .search_box button:hover {
        cursor: pointer;
    }
}