/* scroll 디자인 */
*::-webkit-scrollbar {
	width: 3px;
}

*::-webkit-scrollbar-thumb {
	background-color: #999;
}

/* 1280px 보다 크면 */
@media (min-width: 1280px) {

	.titleContainer {
		width: 1280px;
		height: 50px;
		margin: 0 auto;
		margin-top: 10px;

		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}

	.selectContainer {
		width: 1280px;
		height: 300px;
		margin: 0 auto;
		margin-top: 10px;

		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}

	.selectContainer .card {
		width: 13%;
		height: 100%;

		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.selectContainer .card .cardTitle {
		font-size: 20px;
	}

	.selectContainer .card .cardSelect {
		border: 1px solid #000;
		border-radius: 10px;

		width: 100%;
		height: 70%;
	}

	.buttonContainer {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.buttonContainer button {
		background-color: #007A33;
		color: white;
		border: none;
		border-radius: 20px;

		padding: 8px 18px;
		font-size: 15px;

		margin-top: 20px;
	}

	.selectContainer .card select {
		width: 100%;
		font-size: 15px;
	}

	.text {
		font-size: 40px;
	}

	.resultContainer {
		width: 1280px;
		height: 400px;
		margin: 0 auto;
		margin-top: 10px;

		display: flex;
		flex-direction: column;
		overflow-y: auto;

	}

	.resultContainer .spreadsheet {
		position: relative;
		width: 100%;
		height: 430px;
		margin-bottom: 10px;

		overflow-x: auto;
		overflow-y: hidden;
	}

	/* scroll */
	.spreadsheet::-webkit-scrollbar,
	.spreadsheet_full::-webkit-scrollbar {
		height: 4px;
	}
}

/* ////////////////////////////////////////// */
/* 1280보다 작으면 */
@media (max-width:1280px) {

	.titleContainer {
		width: 1000px;
		height: 50px;
		margin: 0 auto;
		margin-top: 10px;

		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}

	.selectContainer {
		width: 1000px;
		height: 300px;
		margin: 0 auto;
		margin-top: 10px;

		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}

	.selectContainer .card {
		width: 13%;
		height: 100%;

		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.selectContainer .card .cardTitle {
		font-size: 20px;
	}

	.selectContainer .card .cardSelect {
		border: 1px solid #000;
		border-radius: 10px;

		width: 100%;
		height: 70%;
	}

	.buttonContainer {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.buttonContainer button {
		background-color: #007A33;
		color: white;
		border: none;
		border-radius: 20px;

		padding: 8px 18px;
		font-size: 15px;

		margin-top: 20px;
	}

	.selectContainer .card select {
		width: 100%;
		font-size: 15px;
	}

	.text {
		font-size: 40px;
	}

	.resultContainer {
		width: 1000px;
		height: 400px;
		margin: 0 auto;
		margin-top: 10px;

		display: flex;
		flex-direction: column;
		overflow-y: auto;
	}

	.resultContainer .spreadsheet {
		position: relative;
		width: 100%;
		height: 430px;
		margin-bottom: 10px;

		overflow-x: auto;
		overflow-y: hidden;
	}

	/* scroll */
	.spreadsheet::-webkit-scrollbar,
	.spreadsheet_full::-webkit-scrollbar {
		height: 4px;
	}
}