ul,
li {
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.logo-box {
    width: 100%;
    height: 70px;
    font-size: 0px;
}


.excel {
    width: 50%;
    height: calc(100vh - 70px);
    padding: 15px 0;
    overflow-y: visible;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.excel .show_excel {
    margin: 0 auto;
    width: 86%;
    height: 40%;
    display: inline-flex;
    position: relative;
}

.excel .show_excel .spreadsheet {
    overflow-x: auto;
    overflow-y: hidden;
    width: 80%;
    height: 90%;
    border: 1px solid #000;
    border-radius: 5px;

    position: relative;
}

.excel .show_excel .file_input {
    width: 100%;
    height: 100%;
}

.excel .show_excel .spreadsheet i {
    content: "f56f";
    font: var(--fa-font-solid);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -70%);
    
    font-size: 50px;
}

.excel .show_excel .data_select {
    width: 20%;
    height: 90%;
    overflow-y: scroll;
}

.excel .show_excel .fileUploader {
    position: absolute;
    top: 90%;
    left: 0%;
    height: 10%;
    display: block;
}