*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	/* overflow-y: hidden; */
}

a{
	color: #007A33;
	text-decoration: none;
}

li, ul{
	list-style: none;
}

.containerDIV {
	margin: 0 auto;

	display: grid;
	width: 1280px;
	height: 100%;
}

.upperDIV {
	width: 1280px;
	height: 100px;
	position: relative;
}

.upperDIV .title {
	width: 200px;
	height: 50px;
	margin-top: 25px;
	margin-left: 20px;

	color: #007A33;
	font-size: 18px;
	font-weight: bold;
}

.upperDIV .logoutDIV {
	position: absolute;
	top: calc((100px - 28px)/2);
	right: 25px;

	display: inline-block;
	text-align: center;
}

.upperDIV .logoutDIV .logoutBtn {
	position: relative;
	padding: 4px 12px;
	border: 1px solid rgba(0, 0, 0, 0.21);
	border-bottom: 4px solid rgba(0, 0, 0, 0.21);
	border-radius: 4px;
	background: #72B08E;

	display: inline-block;

	text-decoration: none;
	font-size: 14px;
	color: white;
}

.logoutBtn:active {
	background: #87a86f;
}

.rowDIV{
	display: flex;
	flex-direction: row;
}

.progressDIV {
	width: 200px;
	height : calc(100vh - 100px);
	border: 1px solid #000;
}

.progressDIV .progress{
	padding: 8px 14px;
	font-size: 14px;
}

.now{
	background-color: #007A33;
	color: #fff;
}

.columnDIV {
	width: 1080px;
}

.workDIV .buttonDIV {
	width: 1000px;
	margin : 20px auto;
}

button{
	border: 1px solid #007A33;
	border-radius: 10px;
	margin-right: 8px;
	padding: 5px 11px;
	background-color: #007A33;
	color: #fff;

	float: right;
}

button:hover{
	cursor: pointer;
}

.selectDIV {
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	margin-top: 10px;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.selectDIV .card {
	width: 200px;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	text-align: center;
}

.selectDIV .card .cardTitle {
	font-size: 20px;
}

.selectDIV .card>*{
	margin-bottom: 10px;
	width: 200px;
}

.varDIV{
	width: 1000px;
	height: 200px;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.varDIV>*{
	width: 300px;
	height: 200px;
	overflow-y: auto;
}

.switchLabel{
	padding: 5px;

	display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.switchLabel>span {
	width: 200px;
}

[type="checkbox"] {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid gray;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
}

[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}

[type="checkbox"]:checked {
  background-color: tomato;
  border-color: tomato;
}

[type="checkbox"]:checked::before {
  background-color: white;
  left: 1em;
}
