<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>파일 병합</title>

	<!-- css -->
	<link rel="stylesheet" href="/templates/src/Views/Merge/merge.css">
	<link rel="stylesheet" href="/templates/src/Views/jsuties.css" type="text/css" />
	<link rel="stylesheet" href="/templates/src/Views/toggle.css">
	
	<!-- spreadsheetjs -->
	<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
	<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
	<script src="https://jsuites.net/v4/jsuites.js"></script>
	<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
</head>

<body>
	<div class="containerDIV" id="containerDIV">	
		<div class="upperDIV">	
			<div class="title">
				<a href="/file-list/">전남대학교</br>융합 빅데이터 연구실</a>
			</div>
			<div class="logoutDIV">
				<a class="logoutBtn" id="logoutBtn">로그아웃</a>
			</div>
		</div>

		<div class="rowDIV">
			<div class="progressDIV">	
				<div class="nowProgressDIV">
					<div class="progress now">파일 병합</div>
					<div class="progress">변수 선택</div>
				</div>
			</div>
			<div class="columnDIV">
	
			</div>	
		</div>
	</div>
</body>
</html>
<script type="module" src="/templates/src/Views/Merge/merge.mjs"></script>
<script src="/templates/src/CDN/jquery-1.12.4.min.js"></script>