ul,li {
    list-style : none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color : #000;
}

body {
    background-color: #fafafa;
}

.loginContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    width : 350px;
    height: 380px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #FFF;
    border: 1px solid #DBDBDB;
}

.loginLogo{
    margin: 30px 0;
    font-size: 14px;
    font-weight: bold;
}

.loginLogo>a{
    margin:  0 10px;
    font-size: 23px;
    color: #007A33;
}

.loginForm{
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-top: 10px;
}

.loginForm .id,
.loginForm .password{
    width: 100%;
    height: 40px;
    margin: 3px 0 0 0;
    padding: 0 10px;
    background-color: #FAFAFA;
    border : 1px solid #DBDBDB;
    border-radius: 3px;
}

.loginForm .id:focus,
.loginForm .password:focus {
    outline: 1px solid #a8a8a8;
}

.loginForm .id::placeholder,
.loginForm .password::placeholder{
    color : #8E8E8E;
}

.loginForm .id::-ms-value,
.loginForm .password::-ms-value{
    color : #262626;
}

.loginForm .error{
    color : #fb0404;
    display : "block";
    padding-bottom: 1px;
    font-size: 8px;
}


.loginForm .login_btn{
    width: 100%;
    height: 33px;
    margin : 3px 0 5px 0;

    color: white;
    background-color: #8E8E8E;
    
    border-radius: 5px;
    border-style: none;
    
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.else{
    text-align: center;
    margin-top : 65px;
    font-size: 13px;

    width: 80%;
    height: 25px;
}

.else .register{
    color : #01376A;
}

