<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>

    <!--  css  -->
    <link rel="stylesheet" href="/templates/users/login.css">
    
</head>
<body>
    <div class="login_wrapper">
        <div class="login_logo">
            <a href="/">전남대학교</a><br/>
            농업 빅데이터 연구실
        </div>
        <form action="/users/login/" method="post" class="login_form">
            {% csrf_token %}
            <input type="text" id="id" class="id" name="id" placeholder="이메일">
            <input type="password" id="password" class="password" name="password" placeholder="비밀번호">
            {% if error %}
                <div id="error" class="error">{{ error }}</div>
            {% endif %}
            <button id="login_btn" name="login_btn" class="login_btn" type="submit" disabled>login</button>
        </form>

        <div class="else">
            <a href="/users/register" class="register">회원가입</a>
        </div>
    </div>
</body>

<script src="/templates/JS/jquery-1.12.4.min.js"></script>
<script src="/templates/users/login.js"></script>
</html>