<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="/templates/users/register.css">

</head>

<body>
    <div class="header">
        <a href="/" class="title">전남대학교 </br>농업 빅데이터 연구실</a>
    </div>
    <div class="register_wrapper">
        <div class="regi_logo">
            <h1>회원가입</h1>
        </div>
        <form method="POST" class="regi_form" id="regi_form" onsubmit="return false;">
            {% csrf_token %}
            <div class="email">
                <input type="text" class="form_text regi_id" id="regi_id" name="regi_id" placeholder="이메일">
                <div id="emailError" class="error"></div>
            </div>

            <div class="password">
                <input type="password" class="form_text regi_pass" id="regi_pass" name="regi_pass" placeholder="비밀번호">
                <div id="passwordError" class="error"></div>
            </div>

            <div class="re_pass">
                <input type="password" class="form_text regi_re_pass" id="regi_re_pass" placeholder="비밀번호 확인">
                <div id="passwordCheckError" class="error"></div>
            </div>

            <div class="name">
                <input type="text" class="form_text name" id="name" name="name" placeholder="이름">
                <div id="nameError" class="error"></div>
            </div>

            <div class="job">
                <input type="text" class="form_text regi_job" id="regi_job" name="regi_job" placeholder="직업">
            </div>

            <div class="phone">
                <label for="phone1">전화번호</label>
                <input type="tel" class="phone1" id="phone1" name="phone" maxlength="3" pattern="[0-9]{3}"  oninput="check_phone1()">-
                <input type="tel" class="phone2" id="phone2" name="phone" maxlength="4" pattern="[0-9]{4}"  oninput="check_phone2()">-
                <input type="tel" class="phone3" id="phone3" name="phone" maxlength="4" pattern="[0-9]{4}" >
            </div>

            <div class="btn">
                <button class="regi_btn" id="regi_btn" type="submit" disabled >제출하기</button>
                <button class="backToLogin" id="backToLogin" type="button">취소</button>
            </div>
        </form>
    </div>
</body>
<script src="/templates/users/register.js"></script>
<script src="/templates/JS/jquery-1.12.4.min.js"></script>

</html>