ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

*:not(dialog) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

dialog {
    box-sizing: border-box;
}

/* 1280px 보다 크면 */
@media (min-width: 1280px) {

    /* nav */
    .nav {
        width: 1280px;
        height: 70px;
        margin: 0 auto;
        margin-top: 10px;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav .title {
        color: #007A33;
        font-size: 18px;
        font-weight: bold;
    }

    .nav .login {
        padding: 3px 15px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;

        background-color: #007A33;
        border-radius: 8px;
        color: #fff;
    }

    .nav .logout {
        padding: 3px 10px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;

        background-color: #007A33;
        border-radius: 8px;
        color: #fff;
    }
}


/* ////////////////////////////////////////// */
/* 1280보다 작으면 */
@media (max-width:1280px) {
    /* nav */
    .nav {
        width: 1000px;
        height: 70px;
        margin: 0 auto;
        margin-top: 10px;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav .title {
        color: #007A33;
        font-size: 18px;
        font-weight: bold;
    }

    .nav .login {
        padding: 3px 15px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;

        background-color: #007A33;
        border-radius: 8px;
        color: #fff;
    }

    .nav .logout {
        padding: 3px 10px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;

        background-color: #007A33;
        border-radius: 8px;
        color: #fff;
    }
}
/* exp-box */
.exp-box {
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;

    display: flex;
    justify-content: right;
}

/* excel */
.excel {
    width: 85%;
    height: 250px;
    margin: 3px auto;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.excel .spreadsheet {
    position: relative;
    width: 100%;
    height: 230px;
    border: 1px solid #000;
    margin-bottom: 10px;

    overflow-x: auto;
    overflow-y: hidden;
}

/* scroll 디자인 */
.spreadsheet::-webkit-scrollbar {
    width: 3px;
}

.spreadsheet::-webkit-scrollbar-thumb {
    background-color: #999;
}

/* radio 탭 */
.tabs {
    position: relative;
    z-index: 1;

    width: 85%;
    margin: 0 auto;
}

.tab {
    float: left;
    padding: 10px 0;
}

.tab>label {
    /* 탭 헤더 */
    position: relative;

    border: 1px solid #ccc;
    padding: 8px 20px;

    background: #eee;
}

.tab label:hover {
    cursor: pointer;
}

.tab [name="tab-group-1"] {
    display: none;
}

.tab .content {
    position: absolute;

    width: 100%;
    height: auto;
    top: 39px;
    left: 0;
    padding-bottom: 20px;
    border: 1px solid #ccc;

    background: white;

    display: none;

    text-align: center;

    overflow-y: auto;
}

.tab [name="tab-group-1"]:checked~label {
    border-bottom: 1px solid white;

    background: white;

    z-index: 2;
    /* 선택한 탭 헤더를 앞으로 옮겨 컨텐츠 테두리 선에 가려지지 않도록 처리 */
}

.tab [name="tab-group-1"]:checked+label+.content {
    z-index: 1;

    display: block;
}

/* 사용 방법 tap1 */
.tab .content .caution {
    margin-top: 10px;
}

.tab .content .explain {
    padding: 10px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tab .content .explain .process_ex {
    margin-top: 10px;
    flex: 1 1 48%;
}

.tab .content .explain .process_ex:first-child {
    border-right: 1px dashed #000;
}


/* 엑셀 데이터 확인, tap2 */
.content .x-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px 2%;
}

.content .x_label {
    margin-left: 20px;
}

.content .pretreatmentFileName {
    margin-right: 20px;
}

.content .list-container {
    width: 96%;
    height: 250px;
    padding: 3px 0;
    margin: 10px auto;
    text-align: center;

    border: 1px solid #000;

    overflow-y: scroll;
}

.content .list-container .list {
    width: 100%;
    height: 30px;
    line-height: 26px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.content .list-container .list:first-child {
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
}

.content .list-container .list>* {
    height: 26px;
}

.content .list-container .list .col_name {
    width: 20%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.content .list-container .list .Null_count,
.content .list-container .list .out_range,
.content .list-container .list .Q1,
.content .list-container .list .Q2,
.content .list-container .list .mean,
.content .list-container .list .Q3,
.content .list-container .list .min,
.content .list-container .list .max {
    width: 10%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.content .list-container .list:not(:first-child)>* {
    border-right: 1px solid #888;
    font-size: 16px;
    margin-top: 8px;
}

.content .list-container .list a:hover {
    color: blue;
}


/* tap3 */
.tab [name="tab-group-1"]:checked+label+.flex {
    height: 230px;
    padding-top: 20px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

/* 기간 및 열 지정 */
.date-container {
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.date-container .columnDate-container,
.date-container .peri-container {
    width: 60%;
    height: 20px;
}

.columnDate-container {
    display: flex;
    flex-direction: column;
}

.date-container .peri-container .else_peri {
    width: 100%;
}

/* 변수 선택 창 */
.variables-container {
    width: 60%;
    height: 100%;
    position: relative;
    text-align: center;
}

/* 난이도 선택 */
input[name="level"] {
    display: none;
}

.variables-container>label {
    display: inline-block;
    margin: 0 15px;
}

.box {
    width: 100%;

    display: none;

    position: absolute;
    top: 60px;
}

label:hover {
    border-bottom: 2px solid #000;
}

input[name="level"]:checked+label {
    border-bottom: 2px solid #007A33;
    cursor: default;
}

input[name="level"]:checked+label+.box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* easyVersion */
.easyVersion>*:not(:last-child) {
    margin-right: 15px;
}

.easyVersion>*:not(button) {
    flex-shrink: 0;
    width: 25%;
}

/* hardVersion */
.hardVersion>*:not(:last-child) {
    margin-right: 10px;
}

.hardVersion>*:not(button) {
    flex-shrink: 0;
    width: 15%;
}

.hardVersion .final_var {
    flex-shrink: 0;
    width: 25%;
}

/* 파일 저장 */

.fileSave-container {
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.fileSave-container>*:not(:nth-child(2)) {
    margin-top: 30px;
}


/* ABMS */
.tab [name="tab-group-1"]:checked+label+.abms {
    height: 300px;
    padding-top: 20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.abms .abms_text {
    width: 90%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    overflow-y: auto;
}

.abms .abms_text>* {
    width: 18%;
    margin: 5px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.abms .abms_text .result:hover {
    color: #fff;
    background-color: #888;
}

.abms .abms_select {
    width: 10%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.abms .abms_select .abmsFileName {
    width: 80%;
}

.abms .abms_select .abms_var {
    width: 80%;
    margin-bottom: 15px;
}

.abms .abms_select .abms_save {
    padding: 5px 8px;
}

.graphContainer {
    width: 95%;

    display: none;
    border: 1px solid grey;
    background-color: #fff;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 999;
}

.graphContainer  .buttonContainer {
    display: none;
    flex-direction: row;
    justify-content: space-between;

    width: 30%;
    margin-left: 35%;

}

.buttonContainer i {
    font-size: 30px;
}